.fullpage {
	.fp-slidesNav {
		transform: none;
		top: 192px;
		@media (max-width: 575px) {
			top: 109px;
		}
		ul {
			align-items: flex-start;
			flex-direction: column;
			display: inline-flex;
			li {
				width: 60px;
				margin: 0;
				margin-bottom: 5px;
				@media (max-width: 575px) {
					width: 30px;
					height: 10px;
				}
				&:not(:last-child){
					margin-bottom: 7px;
					@media (max-width: 575px) {
						margin-bottom: 0;
					}
				}
				a {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					span {
						transition: width 0.6s ease;
						position: relative;
						background: $white;
						border-radius: 0;
						display: flex;
						width: 20px;
						height: 3px;
						margin: 0;
						left: 0;
						top: 0;
						@media (max-width: 575px) {
							width: 10px;
							height: 2px;
						}
					}
					.fp-sr-only {
						display: none;
					}
					&.active {
						span {
							width: 60px;
							@media (max-width: 575px) {
								width: 30px;
							}
						}
					}
				}
				&:hover {
					a {
						span {
							border-radius: 0;
							width: 60px;
							height: 3px;
							margin: 0;
							@media (max-width: 575px) {
								width: 30px;
								height: 2px;
							}
						}
					}
				}
			}
		}
	}
	.section-slider {
		height: 100vh;
	}
	.fp-slides .fp-tableCell {
		position: relative;
		vertical-align: top;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.fp-section {
		.fp-slidesContainer {
			width: 100%!important;
			.fp-slide {
				width: 100%!important;
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 2px;
				opacity: 0;
				z-index: 0;
				transition: opacity 1s ease 0s,transform 1s ease;
				.slide-image {
					transition: opacity 0.5s,transform 0.4s;
					transform: scale(1.25);
					position: absolute;
					height: 100%;
					width: 100%;
					bottom: 0;
					right: 0;
					left: 0;
					top: 0;
					img {
						height: 100%;
						width: 100%;
					}
				}
				&.active {
					opacity: 1;
					z-index: 1;
					.slide-image {
						transform: scale(1);
						top: 0;
					}
					.slide-vertical-line {
						visibility: visible;
						height: 100%;
					}
				}
			}
		}
	}
}

.slide{
	&-inner {
		position: relative;
		z-index: 5;
	}
	&-content {
		display: flex;
		padding-left: 129px;
		
		@media (max-width: 1199px) {
			flex-direction: column;
			padding-left: 0;
		}
		@media (max-width: 767px) {
			height: 100vh;
		}
		@media (max-height: 759px) {
			height: -webkit-fill-available;
		}
		&__desc {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			overflow-y: hidden;
			overflow-x: visible;
		}
		&__left {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			max-width: 481px;
			position: relative;
			padding-right: 39px;
			padding-top: 20px;
			margin-top: 140px;
			height: calc(100vh - 140px);
			@media (max-width: 1199px) {
				padding-left: 130px;
				max-width: 611px;
				margin-top: 120px;
				height: calc(100vh - 180px);
			}
			@media (max-width: 767px) {
				padding-right: 0;
				padding-left: 100px;
				margin-top: 80px;
			}
			@media (max-width: 575px) {
				padding-left: 60px;
				max-width: 325px;
				padding-top: 0;
				max-width: 100%;
				justify-content: space-between;
			}
		}
		&__right {
			flex-grow: 1;
			
		}
		&__title {
			text-align: right;
			width: 100%;
			overflow: hidden;
			@media (max-width: 991px) {
				text-align: left;
			}
			h1 {
				font-size: 5.8rem;
				color: white;
				line-height: 7.5rem;
				margin: 0;
				@media (max-width: 575px) {
					font-size: 4.2rem;
					line-height: 5.4rem;
				}
				@media (max-height: 759px) {
					font-size: 3.8rem;
					line-height: 4.2rem;
				}
			}
		}
		&__subtitle {
			opacity: 0.8;
			margin-top: 15px;
			text-align: right;
			overflow: hidden;
			@media (max-width: 991px) {
				text-align: left;
			}
			@media (max-width: 575px) {
				margin-top: 12px;
			}
			span {
				font-size: 1.8rem;
				color: white;
				line-height: 2.3rem;
				letter-spacing: normal;
				display: block;
				@media (max-width: 575px) {
					font-size: 1.3rem;
					line-height: 1.7rem;
				}
			}
		}
		&__link {
			display: flex;
			align-items: center;
			margin-left: auto;
			margin-top: 16px;
			@media (max-width: 991px) {
				margin-left: 0;
			}
			@media (max-width: 575px) {
				margin-top: 11px;
			}
			a {
				font-weight: bold;
				font-size: 1.8rem;
				line-height: 2.6rem;
				text-align: right;
				color: white;
				display: flex;
				align-items: center;
				text-decoration: none;
				@media (max-width: 575px) {
					font-size: 1.3rem;
					line-height: 1.9rem;
				}
				.icon-arrow {
					margin-left: 10px;
					transition: all 0.3s ease;
					font-size:  1.6rem;
					@media (max-width: 575px) {
						font-size: 1.1rem;
						margin-left: 7px;
					}
				}
			}
			&:hover {
				.icon-arrow {
					transform: translateX(-3.5px);
				}
			}
		}
		&__contacts {
			height: 100%;
			width: 100%;
			padding-bottom: 37px;
			@media (max-width: 575px) {
				height: auto;
				padding-bottom: 15px;
				display: flex;
				align-items: flex-end;
			}
			&-inner {
				height: 100%;
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				width: 100%;
				@media (max-width: 1199px) {
					justify-content: center;
				}
				@media (max-width: 575px) {
					flex-wrap: wrap;
					height: auto;
				}
				a {
					font-size: 2rem;
					line-height: 2.6rem;
					color: white;
					text-decoration: none;
					transition: all 0.3s ease;
					&:first-child {
						text-align: center;
						@media (max-width: 575px) {
							display: block;
							width: 100%;
							margin-right: 0 !important;
							margin-bottom: 14px;
						}
					}
					@media (max-width: 575px) {
						font-size: 1.55rem;
					}
					&:hover {
						text-shadow: 2px 2px 2px #000;
					}
					&:not(:last-child){
						margin-right: 30px;
					}
				}
			}
		}
	}
}
.slide-vertical-line {
	width: 2px;
	position: absolute;
	bottom: 0;
	background-color: #fff;
	right: 0;
	opacity: 0;
	height: 0;
	visibility: hidden;
	transition: all 4s ease;
	animation: slideLineVert 4s linear 0.2s;
	animation-fill-mode: both;
	@media (max-width: 1199px) {
		display: none;
	}
}

.slide-content__awward {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 250px;
	margin-left: 69px;
	@media (max-width: 1199px) {
		margin-top: 120px;
	}
	@media (max-width: 575px) {
		margin-left: 37px;
		margin-top: 20%;
		margin-bottom: 20%;
	}
	.icon-awward {
		font-size: 235px;
		position: absolute;
		right: 81%;
		bottom: 0;
		@media (max-width: 1199px) {
			font-size: 186px;
			right: 83%;
			bottom: -2px;
		}
		@media (max-height: 759px) {
			font-size: 90px;
			bottom: -50px;
			right: 95%;
		}
	}
	&-img {
		z-index: 5;
		margin-bottom: -3px;
		display: flex;
		justify-content: flex-start;
		@media (max-width: 767px) {
			margin-bottom: 0;
			margin-left: -3px;
		}
	}
	&-desc {
		font-size: 1.8rem;
		line-height: 2.3rem;
		color: white;
		margin-bottom: 57px;
		text-align: left;
		@media (max-width: 767px) {
			font-size: 1.45rem;
			line-height: 1.9rem;
			margin-bottom: 49px;
		}
		@media (max-height: 759px) {
			margin-bottom: 20px;
		}
	}
}

@keyframes slideLineVert {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}


//Section Contacts

.section-contacts {
	background-image: url(../images/useful/s-contacts.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	&__inner {
		padding-left: 127px;
		padding-top: 208px;
		@media (max-width: 576px) {
			padding-left: 0;
			padding-top: 90px;
		}
	}
	.fp-tableCell {
		vertical-align: top;
	}
	.slide-content__contacts {
		height: auto;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: -10px;
			width: 0;
			height: 1px;
			background-color: #fff;
			display: block;
			opacity: 0;
			visibility: hidden;

			@media (max-width: 576px) {
				opacity: 1;
				visibility: visible;
			}
		}
		@media (max-width: 576px) {
			padding-bottom: 22px;
		}
		a {
			font-size: 2.4rem;
			line-height: 4rem;
			width: auto !important;
			@media (max-width: 576px) {
				font-size: 2rem;
			}
			&:not(:last-child ){
				margin-right: 117px;
				@media (max-width: 991px) {
					margin-right: 0;
					margin-bottom: 19px;
				}
			}
		}
	}
	.slide-content__contacts-inner {
		justify-content: flex-start;
		align-items: flex-start;
		@media (max-width: 991px) {
			flex-direction: column;
		}
	}
	&__actions {
		display: flex;
		margin-top: 35px;
		@media (max-width: 991px) {
			flex-direction: column;
			padding-top: 6px;
		}
	}
	&__presentation, &__navigation {
		display: flex;
		align-items: center;
		&-img {
			margin-right: 10px;
			height: 50px;
			width: 50px;
			.icon {
				font-size: 5rem;
			}
		}
		&-desc {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			a {
				font-weight: bold;
				font-size: 1.6rem;
				line-height: 2.1rem;
				text-decoration-line: underline;
				color: white;
			}
			span {
				font-size: 1.4rem;
				line-height: 1.8rem;
				padding-top: 11px;
				font-weight: bold;
				color: white;
				opacity: 0.5;
			}
		}
	}
	&__presentation {
		margin-right: 105px;
		@media (max-width: 991px) {
			margin-right: 0;
			margin-bottom: 30px;
		}
	}
	&.active {
		.slide-content__contacts {
			&:after {
				animation: contactLineGoriz 3s linear 0s;
				animation-fill-mode: both;
				width: 103%;
			}
		}
	}
}


@keyframes contactLineGoriz {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}