.section-gallery {
	background: #19153D;
	padding: 7rem 0 0 0;
	@media (max-width: 991px) {
		padding: 7rem 0 2rem 0;
	}
}
.gallery {
	&__inner {
		position: relative;
		height: calc(100vh - 7rem);
		display: flex;
		align-content: center;
		justify-content: center;
		flex-wrap: wrap;
		@media (max-width: 1199px) {
			height: auto;
			margin-top: 3rem;
		}
		@media (max-width: 991px) {
			display: block;
			margin-top: 0;
			margin-bottom: 1rem;
			height: 100%;
		}
	}
	&__slider {
		position: relative;
		overflow: hidden;
		margin-right: -1rem;
		margin-left: -1rem;
		@media (max-width: 991px) {
			overflow: visible !important;
			margin-right: 0;
			margin-left: 0;
			height: auto;
			display: block;
		}
		&__wrap {
			width: 100%;
			position: relative;
			height: auto;
		}
		&__modal {
			overflow: hidden;
			@media (max-width: 991px) {
				height: 100%;
			}
			&__item {
				outline: none;
				vertical-align: top;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 54rem;
				@media (max-width: 1199px) {
					height: 43rem;
				}
				@media (max-width: 991px) {
					height: calc(100vh - 9rem);
					overflow-x: auto;
					overflow-y: auto;
				}
				img {
					max-width: 100%;
					max-height: 100%;
					width: auto;
					height: auto;
					@media (max-width: 991px) {
						max-width: none;
						max-height: none;
					}
				}
			}
			&__wrap {
				background-color: #000;
				position: absolute;
				width: 100%;
				height: calc(100% - 2rem);
				margin-top: 1rem;
				z-index: 100;
				// transform-origin: top right;
				transform: scale(0.9);
				opacity: 0;
				visibility: hidden;
				transition: transform .5s ease, visibility .5s ease, opacity .5s ease;
				&.active {
					opacity: 1;
					visibility: visible;
					transform: scale(1);
				}
				@media (max-width: 991px) {
					height: calc(100% - 9rem);
					width: calc(100% - 2rem);
					margin-top: 0;
					position: fixed;
					top: 7rem;
					left: 50%;
					transform: translate(-50%,0) !important;
				}
				.slider__modal {
					&__close {
						width: 5rem;
						height: 5rem;
						position: absolute;
						top: 0;
						right: 0;
						z-index: 10;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: #19153D;
						cursor: pointer;
						outline: none;
						.icon-close {
							font-size: 2.6rem;
							color: $white;
						}
					}
					&__arrow {
						position: absolute;
						top: 50%;
						z-index: 10;
						cursor: pointer;
						background-color: #5446FF;
						width: 5rem;
						height: 5rem;
						.icon-arrow {
							color: $white;
							transform: translateZ(0);
							transform-origin: 0 0;
							font-size: 1.5rem;
						}
					}
					&__prev {
						left: 0;
						transform: translateY(-50%) rotate(180deg);
					}
					&__next {
						right: 0;
						transform: translateY(-50%);
					}
					&__stug {
						width: 100%;
						height: 6rem;
						align-items: center;
						justify-content: center;
						border-top: 1px solid $white;
						position: absolute;
						bottom: 0;
						left: 0;
						z-index: 10;
						padding: 5px 3rem;
						display: none;
						@media (max-width: 991px) {
							display: flex;
						}
						&:before {
							content: '';
							display: block;
							width: 100%;
							height: 100%;
							position: absolute;
							left: 0;
							top: 0;
							opacity: 0.8;
							background-image: linear-gradient(180deg, rgba(78, 127, 255, 0.7) 0%, rgba(1, 14, 47, 0.7) 100%);
						}
						&__icon {
							margin-right: 1.5rem;
							flex-shrink: 0;
							width: 4rem;
							position: relative;
							z-index: 1;
						}
						&__text {
							position: relative;
							z-index: 1;
							p {
								color: $white;
								font-size: 1.4rem;
								line-height: 1.3;
								margin: 0;
							}
						}
					}
				}
			}
		}
	}
	&__slide {
		display: inline-flex;
		flex-direction: row;
		padding-right: 1rem;
		padding-left: 1rem;
		outline: none;
		@media (max-width: 991px) {
			flex-direction: column;
			margin-right: 0;
			width: 100%;
			padding-right: 0;
			padding-left: 0;
		}
		&-img {
			position: relative;
			cursor: pointer;
			overflow: hidden;
			&::before, &::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				bottom: 0;
				top: 0;
				opacity: 0;
				visibility: hidden;
			}
			&::after{
				background: linear-gradient(180deg, rgba(78, 127, 255, 0.7) 0%, rgba(1, 14, 47, 0.7) 100%);
				transition: opacity .4s ease, visibility .4s ease;
			}
			&::before {
				content: '';
				background-image: url('../../s/images/useful/svg/zoom.svg');
				background-repeat: no-repeat;
				background-size: 4rem;
				background-position: center;
				z-index: 1;
				transition: opacity .4s ease, visibility .4s ease, transform .3s ease;
				transform: translateY(2rem);
			}
			&:hover {
				@media (min-width: 992px) {
					&::after, &::before {
						opacity: 1;
						visibility: visible;
					}
					&::before {
						transform: translateY(0);
					}
				}
			}
			&-inner {
				height: 100%;
				img {
					@media (max-width: 991px) {
						height: 100%;
						width: 100%;
					}
				}
			}
			&_big {
				width: 100%;
				height: 36rem;
				margin: 1rem 0;
				@media (max-width: 1199px) {
					height: 28rem;
				}
				@media (max-width: 991px) {
					height: 24rem;
					order: 0;
					margin: 0 0 1rem 0;
				}
				@media (max-width: 767px) {
					height: 17rem;
				}
			}
			&_small {
				width: calc((100% - 2rem) / 2);
				height: 16rem;
				margin: 1rem 0;
				display: inline-block;
				@media (max-width: 1199px) {
					height: 13rem;
				}
				@media (max-width: 991px) {
					width: calc((100% - 1rem) / 2);
					margin: 0 0 1rem 0;
					height: 15rem;
				}
				@media (max-width: 767px) {
					height: 8rem;
				}
			}
			&-small-wrap {
				display: flex;
				justify-content: space-between;
				@media (max-width: 991px) {
					order: 1;
				}
			}
			.icon-zoom {
				position: absolute;
				font-size: 3.8rem;
				opacity: 0;
				visibility: hidden;
				transition: all 0.6s ease;
				z-index: 5;
			}
		}
		&-block {
			width: 640px;
			display: flex;
			flex-direction: column;
			width: calc(100% / 2);
			@media (max-width: 991px) {
				width: 100%;
			}
			& + .gallery__slide-block {
				margin-left: 2rem;
				@media (max-width: 991px) {
					margin-left: 0;
				}
			}
		}
	}

	.slick-track {
		display: flex;
	}
	.slick-slide {
		&:focus, a {
			outline: none;
		}
	}
	&__actions {
		height: auto;
		min-height: 7rem;
		transform: none;
		transition: all 0.5s ease;
		margin-top: 2rem;
		width: 100%;
		@media (max-width: 991px) {
			display: none;
		}
		&__main-slider, &__modal-slider {
			&__inner {
				display: flex;
				justify-content: space-between;
			}
		}
		&__main-slider {
			display: block;
		}
		&__modal-slider {
			display: none;
		}
		&-descr {
			margin-right: 2rem;
			p {
				font-style: normal;
				font-weight: normal;
				font-size: 1.8rem;
				line-height: 1.3;
				color: #FFFFFF;
				opacity: 0.8;
				margin: 0;
				& + p {
					margin-top: 1rem;
				}
			}
		}
		&__side {
			display: flex;
			align-items: center;
			margin-left: auto;
			flex-shrink: 0;
			margin-top: 2rem;
		}
		&-count {
			display: flex;
			position: relative;
			.slick-counter {
				font-size: 20px;
				line-height: 26px;
				display: flex;
				align-items: center;
				text-align: center;
				color: #FFFFFF;
				&__current{
					margin-right: 10px;
					font-weight: bold;
				}
				&__total {
					opacity: 0.5;
					margin-left: 10px;
				}
			}
		}
		&-arrows {
			margin-left: 4rem;
			padding-left: 4rem;
			display: flex;
			align-items: center;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: -1.5rem;
				left: 0;
				height: 7rem;
				width: 1px;
				background-color: #fff;
				display: flex;
			}
			.gallery-arrow {
				flex-shrink: 0;
				cursor: pointer;
				display: flex;
				align-items: center;
				&.gallery-prev {
					transform: rotate(180deg);
					margin-right: 4rem;
					transition: transform .3s ease;
					&:hover {
						@media (min-width: 992px) {
							transform: translateX(-3px) rotate(180deg);
						}
					}
				}
				&.gallery-next {
					transition: transform .3s ease;
					transform: none;
					&:hover {
						@media (min-width: 992px) {
							transform: translateX(3px);
						}
					}
				}
				.icon-arrow {
					color: $white;
					transform: translateZ(0);
					transform-origin: 0 0;
					font-size: 1.5rem;
				}
			}
			.slider__modal__close {
				display: flex;
				align-items: center;
				color: $white;
				cursor: pointer;
				&:hover {
					@media (min-width: 992px) {
						.icon-arrow {
							transform: translateX(3px);
						}
					}
				}
				span {
					font-size: 1.8rem;
					line-height: 1;
					display: inline-block;
					margin-right: 1rem;
				}
				.icon-arrow {
					transform: none;
					transition: transform .3s ease;
				}
			}
		}
	}
}