mixin section-gallery(data)
		.l-container
			.gallery__inner
				.gallery__slider__wrap
					.gallery__slider__modal__wrap
						button.slider__modal__close(type="button")
							+svg('icon-close')
						button.slider__modal__arrow.slider__modal__prev(type="button")
							+svg('icon-arrow')
						button.slider__modal__arrow.slider__modal__next(type="button")
							+svg('icon-arrow')
						.slider__modal__stug
							.slider__modal__stug__icon
								img(src="s/images/useful/svg/tap.svg", alt="tap")
							.slider__modal__stug__text
								p Перемещайтесь по экрану, чтобы рассмотреть фото
						.gallery__slider__modal
					.gallery__slider.main-slider
						.gallery__slide
							.gallery__slide-block
								.gallery__slide-img.gallery__slide-img_big(data-photo-descr="Каскад фонтанов1")
									.gallery__slide-img-inner.h-object-fit
										img(src='s/images/useful/menu/characteristic.jpg')
								.gallery__slide-img-small-wrap
									.gallery__slide-img.gallery__slide-img_small(data-photo-descr="Каскад фонтанов2")
										.gallery__slide-img-inner.h-object-fit
											img(src='s/images/useful/menu/contacts.jpg')
									.gallery__slide-img.gallery__slide-img_small(data-photo-descr="Каскад фонтанов3")
										.gallery__slide-img-inner.h-object-fit
											img(src='s/images/useful/menu/gallery.jpg')
							.gallery__slide-block
								.gallery__slide-img-small-wrap
									.gallery__slide-img.gallery__slide-img_small(data-photo-descr="Каскад фонтанов4")
										.gallery__slide-img-inner.h-object-fit
											img(src='s/images/useful/menu/layout.jpg')
									.gallery__slide-img.gallery__slide-img_small(data-photo-descr="Каскад фонтанов5")
										.gallery__slide-img-inner.h-object-fit
											img(src='s/images/useful/menu/location.jpg')
								.gallery__slide-img.gallery__slide-img_big(data-photo-descr="Каскад фонтанов6")
									.gallery__slide-img-inner.h-object-fit
										img(src='s/images/useful/menu/news.jpg')
						.gallery__slide
							.gallery__slide-block
								.gallery__slide-img.gallery__slide-img_big(data-photo-descr="Каскад фонтанов7")
									.gallery__slide-img-inner.h-object-fit
										img(src='s/images/useful/menu/layout.jpg')
								.gallery__slide-img-small-wrap
									.gallery__slide-img.gallery__slide-img_small(data-photo-descr="Каскад фонтанов8")
										.gallery__slide-img-inner.h-object-fit
											img(src='s/images/useful/menu/characteristic.jpg')
									.gallery__slide-img.gallery__slide-img_small(data-photo-descr="Каскад фонтанов9")
										.gallery__slide-img-inner.h-object-fit
											img(src='s/images/useful/menu/news.jpg')
							.gallery__slide-block
								.gallery__slide-img-small-wrap
									.gallery__slide-img.gallery__slide-img_small(data-photo-descr="Каскад фонтанов10")
										.gallery__slide-img-inner.h-object-fit
											img(src='s/images/useful/menu/location.jpg')
									.gallery__slide-img.gallery__slide-img_small(data-photo-descr="Каскад фонтанов11")
										.gallery__slide-img-inner.h-object-fit
											img(src='s/images/useful/menu/gallery.jpg')
								.gallery__slide-img.gallery__slide-img_big(data-photo-descr="Каскад фонтанов12")
									.gallery__slide-img-inner.h-object-fit
										img(src='s/images/useful/menu/contacts.jpg')
				.gallery__actions
					.gallery__actions__main-slider
						.gallery__actions__main-slider__inner
							.gallery__actions-descr
								p Фото основных офисных задний, общего вида бизнес-центра, фото зон отдыха, пешеходных зон, архитектуры строений.
							.gallery__actions__side
								.gallery__actions-count
									.slick-counter
										span.slick-counter__current
										span /
										span.slick-counter__total
								.gallery__actions-arrows
									.gallery-prev.gallery-arrow
										+svg('icon-arrow')
									.gallery-next.gallery-arrow
										+svg('icon-arrow')
					.gallery__actions__modal-slider
						.gallery__actions__modal-slider__inner
							.gallery__actions-descr
								p Фото #[span(id="photo_index")]. #[span(id="ptoho_descr")]
							.gallery__actions__side
								.gallery__actions-arrows
									button.slider__modal__close(type="button")
										span Все фото
										+svg('icon-arrow')