mixin section-news(data)
	.l-container
		.section-news__inner
			.section-news__side-main
				.news-block
					.news-block__date
						span.news-block__day 18
						span.news-block__month дек
						span.news-block__year 2019
					.news-block__info
						h3.news-block__title Деловой квартал NEOPOLIS в тройке финалистов Премии «Рекорды рынка недвижимости»
						p.news-block__text Деловой квартал NEOPOLIS вошёл в тройку финалистов ежегодной международной премии за достижения на рынке российской и зарубежной недвижимости «Рекорды рынка недвижимости» – масштабного события в области недвижимости – в престижной номинации «Клубный бизнес-центр №1».
						a.arrowed-link(href="javascript:void(0)") 
							span Подробнее
							+svg('icon-arrow')
			.section-news__side-list
				a.news-block(href="javascript:void(0)")
					.news-block__date
						span.news-block__day 10
						span.news-block__month дек
						span.news-block__year 2019
					.news-block__info
						p.news-block__text Деловой квартал Neopolis стал победителем престижной премии в области коммерческой недвижимости CRE Awards
					.news-block__image
						.news-block__image__inner.h-object-fit
							img(src="s/images/useful/news/news1.jpg", alt="news")
				a.news-block(href="javascript:void(0)")
					.news-block__date
						span.news-block__day 24
						span.news-block__month дек
						span.news-block__year 2019
					.news-block__info
						p.news-block__text Наличие релакс-зоны в бизнес-центре повышает его привлекательность
					.news-block__image
						.news-block__image__inner.h-object-fit
							img(src="s/images/useful/news/news2.jpg", alt="news")
				a.news-block(href="javascript:void(0)")
					.news-block__date
						span.news-block__day 4
						span.news-block__month ноя
						span.news-block__year 2019
					.news-block__info
						p.news-block__text Деловой квартал Neopolis обеспечит Новой Москве 3,5 тысячи рабочих мест
					.news-block__image
						.news-block__image__inner.h-object-fit
							img(src="s/images/useful/news/news3.jpg", alt="news")
				a.news-block(href="javascript:void(0)")
					.news-block__date
						span.news-block__day 15
						span.news-block__month окт
						span.news-block__year 2019
					.news-block__info
						p.news-block__text Сотрудники поколения Y выбирают lifestyle-центры
					.news-block__image
						.news-block__image__inner.h-object-fit
							img(src="s/images/useful/news/news4.jpg", alt="news")
				.all-news-block
					a.arrowed-link(href="javascript:void(0)") 
						span Подробнее
						+svg('icon-arrow')