.section-news {
    background: linear-gradient(180deg, rgba(78, 127, 255, 0.7) 0%, rgba(1, 14, 47, 0.7) 100%), url('../../s/images/useful/news/news-bg.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 12.4rem;
    @media (max-width: 1199px) {
        padding-top: 11rem;
    }
    @media (max-width: 767px) {
        padding-top: 7rem;
        padding-bottom: 2rem;
    }
    .l-container {
        @media (max-width: 767px) {
            padding: 0;
        }
    }
    &__inner {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .news-block {
            text-align: left;
        }
    }
    &__side-main {
        width: 100%;
        max-width: 61rem;
        height: 100%;
        padding-top: 2rem;
        margin-right: 3rem;
        @media (max-width: 991px) {
            display: none;
        }
        .news-block {
            width: 100%;
            display: flex;
            &__date {
                width: 3.5rem;
                color: $white;
                flex-shrink: 0;
                margin-right: 3.5rem;
                @media (max-width: 1199px) {
                    margin-right: 2.5rem;
                }
                span {
                    display: block;
                    width: 100%;
                }
            }
            &__day {
                font-size: 3rem;
                line-height: 1.3;
            }
            &__month {
                font-size: 1.6rem;
                line-height: 1.3;
            }
            &__year {
                font-size: 1.2rem;
                line-height: 1.3;
            }
            &__title {
                font-size: 4rem;
                line-height: 1.3;
                margin: 0 0 2rem 0;
                color: $white;
                @media (max-width: 1199px) {
                    font-size: 3.2rem;
                    line-height: 1.2;
                }
            }
            &__text {
                font-size: 1.8rem;
                color: rgba(255,255,255,.8);
                line-height: 1.3;
                margin-bottom: 2rem;
            }
        }
    }
    &__side-list {
        width: 48rem;
        border-left: 1px solid $white;
        flex-shrink: 0;
        min-height: calc(100vh - 12.4rem);
        @media (max-width: 1199px) {
            width: 44rem;
            min-height: calc(100vh - 11rem);
        }
        @media (max-width: 991px) {
            min-height: auto;
            width: 100%;
            border-left: none;
        }
        .news-block {
            width: 100%;
            height: 13rem;
            padding: 2rem;
            border-top: 1px solid $white;
            display: flex;
            align-items: flex-start;
            position: relative;
            background-color: transparent;
            transition: background-color .4s ease;
            text-decoration: none;
            
            @media (max-width: 767px) {
                flex-wrap: wrap;
                height: auto;
                padding: 2rem 1rem;
            }
            &:first-child {
                border-top: none;
            }
            &:hover {
                @media (min-width: 992px) {
                    background-color: rgba(255,255,255,.2);
                    .news-block__image {
                        &:before {
                            opacity: 1;
                        }
                        &:after {
                            transform: none;
                            opacity: 1;
                        }
                    }
                }
            }
            &__date {
                width: 4rem;
                color: $white;
                flex-shrink: 0;
                margin-right: 1rem;
                @media (max-width: 767px) {
                    order: 0;
                    margin-right: 0;
                }
                span {
                    display: block;
                    width: 100%;
                }
            }
            &__day {
                font-size: 2rem;
                line-height: 1.3;
            }
            &__month, &__year {
                font-size: 1.2rem;
                line-height: 1.3;
            }
            &__info {
                width: 100%;
                margin-right: 2rem;
                @media (max-width: 767px) {
                    order: 2;
                    margin-top: 2rem;
                    margin-right: 0;
                }
            }
            &__text {
                font-size: 1.8rem;
                color: rgba(255,255,255,.8);
                line-height: 1.3;
                margin: 0;
            }
            &__image {
                flex-shrink: 0;
                position: relative;
                overflow: hidden;
                width: 9rem;
                height: 9rem;
                @media (max-width: 767px) {
                    width: calc(100% - 4rem);
                    order: 1;
                    height: 6rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                &__inner {
                    width: 9rem;
                    height: 9rem;
                    position: relative;
                    @media (max-width: 767px) {
                        width: 6rem;
                        height: 6rem;
                        flex-shrink: 0;
                    }
                }
                &:before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(180deg, rgba(78, 127, 255, 0.7) 0%, rgba(1, 14, 47, 0.7) 100%);
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    z-index: 1;
                    transition: opacity .4s ease;
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-image: url('../../s/images/useful/svg/arrow.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    transform: translateX(-20%);
                    opacity: 0;
                    z-index: 1;
                    transition: transform .5s ease .1s, opacity .4s ease;
                    @media (max-width: 767px) {
                        opacity: 1;
                        position: relative;
                        margin-left: auto;
                        left: auto;
                        top: auto;
                        transform: none;
                        width: 4.5rem;
                    }
                }
            }
        }
        .all-news-block {
            border-top: 1px solid $white;
            padding: 3rem 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media (max-width: 767px) {
                padding: 3rem 1rem;
            }
        }
    }
}