.section-about {
	position: relative;
	background: #19153D;
	padding-top: 7rem;
	.fp-scrollable {
		z-index: 50;
		position: relative;
	}
	&:after {
		content: '';
		position: absolute;
		top: 63px;
		left: 0;
		right: 0;
		background-image: url(../images/useful/about.png);
		background-repeat: no-repeat;
    height: 380px;
    background-position: 0 100%;
    background-size: cover;
		z-index: 0;
		@media (max-width: 1199px) {
			top: 58px;
		}
		@media (max-width: 991px) {
			height: 230px;
		}
	}
	&__inner {
		position: relative;
		display: flex;
		z-index: 50;
		padding-top: 28rem;
		display: flex;
		align-items: flex-start;
		@media (max-width: 991px) {
			flex-direction: column;
			height: auto;
			padding-top: 20rem;
		}
		@media (max-width: 767px) {
			padding-top: 10rem;
		}
	}
	&__desc {
		display: flex;
		flex-direction: column;
		width: calc(100% - 30rem);
		position: relative;
		justify-content: space-between;
		@media (max-width: 991px) {
			width: 100%;
			justify-content: center;
		}
		&-line {
			height: 100%;
			width: 1px;
			position: absolute;
			bottom: 0;
			right: 0;
			top: 0;
			background-color: #fff;
			@media (max-width: 991px) {
				top: auto;
				width: 100%;
				height: 1px;
				left: -15px;
			}
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		width: 30rem;
		justify-content: flex-start;
		@media (max-width: 991px) {
			flex-direction: column;
			width: 100%;
		}
		&-list {
			padding-left: 30px;
			padding-top: 20px;
			padding-bottom: 40px;
			position: relative;
			opacity: 1;
			// visibility: hidden;
			@media (max-width: 991px) {
				padding-top: 30px;
				padding-bottom: 20px;
				padding-left: 0;
			}
			ul {
				list-style-type: none;
				li {
					display: flex;
					align-items: center;
					@media (max-width: 991px) {
						display: none;
					}
					&:nth-child(-n+2) {
						@media (max-width: 991px) {
							display: flex;
						}
					}
					&:not(:last-child){
						margin-bottom: 45px;
					}
					.icon {
						font-size: 3rem;
					}
					span {
						font-size: 1.5rem;
						line-height: 1.9rem;
						color: #fff;
						margin-left: 15px;
					}
				}
			}
			&-line {
				position: absolute;
				left: 0;
				bottom: 0;
				right: 0;
				height: 1px;
				width: 100%;
				background-color: #fff;
				@media (max-width: 991px) {
					display: none;
				}
			}
		}
		&-presentation {
			padding: 2.5rem 0 3rem 3rem;
			border-top: 1px solid $white;
			@media (max-width: 1199px) {
				padding: 2rem 0 2rem 2rem;
			}
			@media (max-width: 991px) {
				width: 100%;
			}
			.download {
					&-link {
							display: flex;
							align-items: center;
							text-decoration: none;
							&:hover {
									@media (max-width: 992px) {
											.download-icon {
													color: rgba(255,255,255,.8);
											}
											.download-name {
													color: rgba(255,255,255,.8);
											}
									}
							}
					}
					&-icon {
							margin-right: 1.2rem;
							color: $white;
							transition: color .3s ease;
							.icon-download {
									font-size: 5rem;
									@media (max-width: 1199px) {
											font-size: 4.5rem;
									}
							}
					}
					&-descr {
							text-align: left;
					}
					&-name {
							text-decoration: underline;
							color: $white;
							font-size: 1.6rem;
							line-height: 1.3;
							font-weight: 700;
							display: block;
							width: 100%;
							margin-bottom: 7px;
							transition: color .3s ease;
							@media (max-width: 1199px) {
									font-size: 1.4rem;
									margin-bottom: 5px;
							}
					}
					&-file {
							font-size: 1.4rem;
							line-height: 1.3;
							color: rgba(255,255,255,.5);
							display: block;
							width: 100%;
							@media (max-width: 1199px) {
									font-size: 1.3rem;
							}
					}
			}
		}
	}
	&__parameters {
		display: flex;
		flex-wrap: wrap;
		padding-right: 60px;
		padding-bottom: 20px;
		position: relative;
		@media (max-width: 991px) {
			padding-right: 0;
		}
		&-item {
			display: flex;
			flex-direction: column;
			margin-bottom: 40px;
			width: 33.3%;
			@media (max-width: 991px) {
				display: none;
				width: 50%;
				align-items: center;
			}
			@media (max-width: 768px) {
				width: 45%;
			}
			&:nth-child(-n+4) {
				@media (max-width: 991px) {
					display: flex;
				}
			}
			&:nth-child(odd){
				@media (max-width: 768px) {
					margin-right: 20px;
				}
			}
			&-count {
				font-style: normal;
				font-weight: normal;
				font-size: 3rem;
				line-height: 4rem;
				color: #FFFFFF;
				@media (max-width: 991px) {
					font-size: 2.5rem;
					line-height: 3.3rem;
				}
			}
			&-name {
				margin-top: 10px;
				font-style: normal;
				font-weight: normal;
				font-size: 1.6rem;
				line-height: 100%;
				color: #FFFFFF;
				opacity: 0.8;
				@media (max-width: 991px) {
					font-size: 1.3rem;
					margin-top: 8px;
				}
			}
		}
		&-line {
				height: 1px;
				width: 100%;
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				background-color: #fff;
		}
	}
	&__awward {
		padding-top: 50px;
		display: flex;
		margin-bottom: 27px;
		@media (max-width: 991px) {
			flex-direction: column;
		}
		.slide-content__awward-img {
			@media (max-width: 991px) {
				margin-bottom: -80px;
			}
		}
		.slide-content__awward {
			margin-left: 158px;
			max-width: 209px;
			
			@media (max-width: 1199px) {
				margin-top: 0;
				margin-left: 90px;
			}
			@media (max-width: 991px) {
				flex-direction: row-reverse;
				align-items: center;
				margin-left: 150px;
			}
			@media (max-width: 767px) {
				margin-bottom: 0;
				margin-left: 111px;
			}
			.icon-awward {
				font-size: 186px;
				position: absolute;
				right: 90%;
				bottom: -25px;
				@media (max-width: 991px) {
					height: auto;
					font-size: 150px;
					bottom: -26px;
				}
			}
		}
		&-img {
			display: flex;
			.slide-content__awward-desc {
				font-size: 1.5rem;
				line-height: 1.9rem;
				opacity: 0.5;
				margin-bottom: 26px;
			}
		}
		&-desc {
			padding-left: 53px;
			padding-right: 15px;
			max-width: 616px;
			padding-bottom: 8rem;
			@media (max-width: 1199px) {
				max-width: 500px;
			}
			@media (max-width: 991px) {
				padding-left: 0;
				max-width: 100%;
			}
			p {
				font-style: normal;
				font-weight: normal;
				font-size: 1.8rem;
				line-height: 2.3rem;
				color: #FFFFFF;
				margin: 0;
				letter-spacing: normal;
				@media (max-width: 1199px) {
					font-size: 1.6rem;
				}
			}
		}
	}
}