mixin section-about(data)
	.l-container
		.section-about__inner
			.section-about__desc
				.section-about__parameters
					.section-about__parameters-item
						span.section-about__parameters-item-count 109 743 м2
						span.section-about__parameters-item-name общая площадь
					.section-about__parameters-item
						span.section-about__parameters-item-count 19 056 м2
						span.section-about__parameters-item-name общая площадь каждого корпуса
					.section-about__parameters-item
						span.section-about__parameters-item-count 17 600 м2
						span.section-about__parameters-item-name общая площадь каждого корпуса
					.section-about__parameters-item
						span.section-about__parameters-item-count 1 360 м/м
						span.section-about__parameters-item-name на многоярусном паркинге
					.section-about__parameters-item
						span.section-about__parameters-item-count 5 Га
						span.section-about__parameters-item-name территория квартала
					.section-about__parameters-item
						span.section-about__parameters-item-count 4
						span.section-about__parameters-item-name автономных 9-этажных корпуса
					.section-about__parameters-line
				.section-about__awward
					.section-about__awward-img
						.slide-content__awward
							svg.icon-awward#icon-awward1( width='230', height='237', viewBox='0 0 230 237', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M69.8589 227.178C66.7711 235.199 63.6951 243.232 60.5955 251.254C58.2175 257.417 53.9112 262.102 47.8065 264.823C41.9267 267.45 34.4852 268.609 28.0967 267.532C12.7759 264.942 0.282754 249.006 3.51253 233.306C4.31701 229.379 6.25724 225.593 7.66509 221.831C8.87182 218.613 10.0904 215.383 11.2971 212.165C14.7043 203.115 18.0997 194.064 21.507 185.014C25.7778 173.656 30.0369 162.311 34.3078 150.953C38.9217 138.697 43.5238 126.44 48.1378 114.195C52.5506 102.447 56.9635 90.7114 61.3763 78.9635C65.3278 68.4579 69.4685 57.7748 73.3608 47.1509C77.0756 37.0001 79.8085 25.9976 85.8185 16.8762C86.5402 15.7878 87.3091 14.7348 88.1373 13.7292C96.9748 3.10528 112.023 0.194939 125.049 3.01064C132.419 4.59595 138.915 8.80766 143.706 14.581C148.971 20.9341 151.1 28.4111 153.963 35.9709C155.584 40.2417 157.205 44.5126 158.814 48.7835C163.014 59.8688 167.213 70.9542 171.413 82.0395C176.323 95.0059 181.233 107.96 186.143 120.927C191.076 133.952 196.009 146.978 200.943 160.004C205.214 171.266 209.484 182.541 213.755 193.804C216.666 201.506 219.588 209.195 222.498 216.897C223.397 219.275 224.379 221.63 225.196 224.031C229.194 235.661 229.194 248.237 220.783 257.961C214.702 265.001 205.308 268.869 196.033 268.337C186.32 267.781 176.56 262.386 171.922 253.643C171.496 252.851 171.129 252.022 170.81 251.183L161.937 226.965C161.961 226.953 69.8589 227.178 69.8589 227.178ZM115.904 100.649L89.5215 172.982H142.31L115.904 100.649Z', stroke='white', stroke-width='4', stroke-miterlimit='10', fill='transparent', data-delay="100")
							span.slide-content__awward-desc Лучший бизнес центр класса А по версии CRE Awards 2018
							.slide-content__awward-img
								picture
									source(media='(max-height: 759px)', srcset='s/images/useful/awwards-h.png')
									source(media='(max-width: 767px)', srcset='s/images/useful/awwards-xx.png')
									source(media='(max-width: 1199px)', srcset='s/images/useful/awwards-xx.png')
									img(src='s/images/useful/awwards.png', alt='')
					.section-about__awward-desc
						p Расположенный в бизнес-кластере в Новой Москве, Деловой квартал «Неополис» предоставляет редкую возможность ведения эффективного бизнеса в отрыве от городской суеты. Насыщенная инфраструктура компенсирует оторванность от города. Продуманная концепция стимулирует к совмещению работы, отдыха и спорта.
				.section-about__desc-line
			.section-about__info
				.section-about__info-list#section-about__info-list
					ul.h-reset-list
						li
							+svg('icon-about-decor')
							span Комплекс введён в эксплуатацию
						li
							+svg('icon-about-decor')
							span Свидетельство о собственности
						li
							+svg('icon-about-decor')
							span Гостевой наземный паркинг
						li
							+svg('icon-about-decor')
							span Парковочный коэффициент 1/33
						li
							+svg('icon-about-decor')
							span Бизнес центра класса «А»
					.section-about__info-list-line
				.section-about__info-presentation
					a.download-link(href="s/images/useful/plan2.jpg", download="")
						.download-icon
							+svg('icon-download')
						.download-descr
							span.download-name Скачать презентацию
							span.download-file .pdf (1.5 Mb)