.section-infrastructure {
    position: relative;
    .fp-scroller {
        height: 100%;
    }
}
@mixin zindex-decrement{
    @for $i from 1 through 100 {
        &:nth-child(#{$i}) {
          z-index: #{100 - $i};
        }
    }
}
@mixin zindex-increment{
    @for $i from 1 through 100 {
        &:nth-child(#{$i}) {
          z-index: #{50 + $i};
        }
    }
}

.infrastructure {
    &__page {
        height: 100%;
        position: relative;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
    }
    &__stug {
        // outline: 1px solid blue;
        position: absolute;
        width: 100vw;
        bottom: 0;
        left: 0;
        height: 20.5rem;
        z-index: 999999;
        transform: translate(0, 0), translateZ(0);
        backface-visibility: hidden;
        transform-origin: 0 0;
        @media (max-width: 1199px) {
            height: 11rem;
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(180deg, rgba(78, 127, 255, 0.7) 0%, rgba(1, 14, 47, 0.7) 100%);
                opacity: 0.5;
                z-index: 0;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        &__inner {
            width: 34rem;
            height: 100%;
            border-top: 1px solid $white;
            z-index: 999999;
            padding: 2rem 0 0 4.2rem;
            z-index: 1;
            position: relative;
            @media (max-width: 1199px) {
                padding: 0 0 0 2rem;
                width: 100%;
            }
            p {
                font-size: 1.4rem;
                line-height: 1.3;
                margin-bottom: 2rem;
                color: rgba(255,255,255,.5);
                @media (max-width: 1199px) {
                    margin-bottom: 1rem;
                }
                &:before {
                    content: attr(data-desktop-text);
                    @media (max-width: 1199px) {
                        content: attr(data-mobile-text);
                    }
                }
            }
        }
        &__icon {
            background-color: #5446FF;
            width: auto;
            height: 3.4rem;
            border: 2px solid #FFFFFF;
            box-shadow: 0px 2px 4px rgba(25, 21, 61, 0.5);
            border-radius: 1.5rem;
            display: inline-flex;
            align-items: center;
            padding: 0 1.5rem 0 1.5rem;
            position: relative;
            &:before {
                content: '';
                display: block;
                width: 2px;
                height: 4rem;
                position: absolute;
                left: 2.2rem;
                top: 100%;
                background-color: $white;
                @media (max-width: 1199px) {
                    height: 2rem;
                }
            }
            &:after {
                content: '';
                display: block;
                width: 2rem;
                height: 2rem;
                position: absolute;
                right: -1rem;
                bottom: -1rem;
                background-image: url('../../s/images/useful/svg/cursor.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                @media (max-width: 991px) {
                    background-image: url('../../s/images/useful/svg/tap.svg');
                    width: 4rem;
                    height: 4rem;
                    right: -3rem;
                    bottom: -3rem;
                }
            }
            .icon-green {
                color: $white;
                font-size: 1.9rem;
                margin-right: 1.6rem;
            }
            span {
                font-size: 1.6rem;
                line-height: 1.3;
                color: $white;
            }
        }
    }
    &__inner {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        min-width: 1199px;
        &__image {
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(78, 127, 255, 0.2) 0%, rgba(1, 14, 47, 0.2) 100%), url('../../s/images/useful/infrastructure.jpg') center center no-repeat;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            left: 0;
            top: 0;
            @media (max-width: 991px) {
                z-index: -1;
            }
        }
        &-wrap {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            // height: 100vh;
            overflow: hidden;
            overflow-x: auto;
            pointer-events: none;
            @media (max-width: 1199px) {
                pointer-events: unset;
            }
        }
    }
    &__icons-wrapper {
        // outline: 1px solid red;
        width: calc(100% - 8rem);
        padding-bottom: 27%;
        position: relative;
        margin: 0 auto;
        .icon-wrapper {
            pointer-events: all;
            position: absolute;
            &:not(.icon-right) {
                @include zindex-decrement;
            }
            &.icon-right {
                @include zindex-increment;
                .icon-leg {
                    margin-left: auto;
                }
            }
            &:hover {
                .icon-descr {
                    max-width: 400px;
                    opacity: 1;
                    transition: max-width .8s ease .2s, opacity .8s ease .2s;
                }
                .icon-leg {
                    height: 3.8rem;
                    transition: height .5s ease;
                }
            }
            &-1 {
                bottom: 42%;
                left: 0;
            }
            &-2 {
                left: 6.7%;
                bottom: 81%;
            }
            &-3 {
                left: 10.3%;
                bottom: 83%;
            }
            &-4 {
                left: 13.9%;
                bottom: 79.4%;
            }
            &-5 {
                left: 14.2%;
                bottom: 34.5%;
            }
            &-6 {
                left: 17.8%;
                bottom: 81.6%;
            }
            &-7 {
                left: 24.6%;
                bottom: 43.6%;
            }
            &-8 {
                left: 25%;
                bottom: 82%;
            }
            &-9 {
                left: 28.2%;
                bottom: 81%;
            }
            &-10 {
                left: 32%;
                bottom: 84%;
            }
            &-11 {
                left: 33.9%;
                bottom: 34%;            
            }
            &-12 {
                left: 42%;
                bottom: 6.7%;            
            }
            &-13 {
                left: 53.9%;
                bottom: 65%;
            }
            &-14 {
                left: 57.8%;
                bottom: 67%;
            }
            &-15 {
                left: 62%;
                bottom: 68.3%;
            }
            &-16 {
                left: 65.3%;
                bottom: 59%;
            }
            &-17 {
                right: 23.9%;
                bottom: 69%;
            }
            &-18 {
                right: 19.2%;
                bottom: 73%;
            }
            &-19 {
                right: 16%;
                bottom: 69.7%;
            }
            &-20 {
                right: 10%;
                bottom: 65.7%;
            }
            &-21 {
                right: 3.1%;
                bottom: 15%; 
            }
            &-22 {
                right: 0;
                bottom: 0;
            }
        }
        .icon-block {
            height: 3.2rem;
            min-width: 3.2rem;
            border-radius: 16px;
            background-color: #5446FF;
            border: 2px solid $white;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0 ;
            cursor: pointer;
            font-size: 0;
            transition: transform .5s ease;
            transform: none;
        }
        .icon-w {
            width: 2.8rem;
            height: 3.2rem;
            flex-shrink: 0;
            position: relative;
        }
        .icon-leg {
            min-width: 3.2rem;
            width: 3.2rem;
            height: 0;
            transition: height .5s ease .4s;
            position: relative;
            display: flex;
            align-items: flex-end;
            &:after {
                content: '';
                display: block;
                width: 2px;
                height: 100%;
                margin-left: 1.5rem;
                background-color: $white;
            }
        }
        .icon-descr {
            max-width: 0;
            transition: max-width .5s ease, opacity .5s ease;
            overflow: hidden;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateZ(0);
            &:after {
                content: attr(data-text);
                display: block;
                color: $white;
                font-size: 1.6rem;
                line-height: 1.3;
                white-space: nowrap;
                padding-right: 1rem;
                transform: translateZ(0);
            }
        }
        // icons
        .icon {
            color: $white;
            flex-shrink: 0;
            font-size: 2rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            &-parking {
                font-size: 1.5rem;
            }
            &-tray {
                font-size: 1.3rem;
            }
            &-playground {
                font-size: 1.6rem;
            }
            &-powerlift {
                font-size: 1.8rem;
            }
            &-bicycle {
                font-size: 1.4rem;
            }
            &-chatting {
                font-size: 1.5rem;
            }
            &-sport {
                font-size: 1.8rem;
            }
            &-events {
                font-size: 1.7rem;
            }
            &-green {
                font-size: 1.9rem;
            }
            &-beauty {
                font-size: 1.6rem;
            }
            &-market {
                font-size: 1.7rem;
            }
            &-shuttlebus {
                font-size: 1.7rem;
            }
            &-carsharing {
                font-size: 1.5rem;
            }
        }
    }
}