mixin section-infrastructure(data)
	.infrastructure__page
		.infrastructure__stug
			.infrastructure__stug__inner
				p(data-desktop-text="Наведите на иконку для отображения подписи:" data-mobile-text="Перемещайтесь по экрану и тапайте на иконки:")
				.infrastructure__stug__icon
					+svg('icon-green')
					span Фонтаны и прогулочная зона
		.infrastructure__inner-wrap
			.infrastructure__inner
				.infrastructure__inner__image
				.infrastructure__icons-wrapper
					.icon-wrapper.icon-wrapper-1
						.icon-block
							.icon-w
								+svg('icon-parking')
							span.icon-descr(data-text="Паркинг")
						.icon-leg
					.icon-wrapper.icon-wrapper-2
						.icon-block
							.icon-w
								+svg('icon-tray')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-3
						.icon-block
							.icon-w
								+svg('icon-playground')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-4
						.icon-block
							.icon-w
								+svg('icon-powerlift')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-5
						.icon-block
							.icon-w
								+svg('icon-bicycle')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-6
						.icon-block
							.icon-w
								+svg('icon-chatting')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-7
						.icon-block
							.icon-w
								+svg('icon-sport')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-8
						.icon-block
							.icon-w
								+svg('icon-playground')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-9
						.icon-block
							.icon-w
								+svg('icon-tray')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-10
						.icon-block
							.icon-w
								+svg('icon-chatting')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-11
						.icon-block
							.icon-w
								+svg('icon-events')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-12
						.icon-block
							.icon-w
								+svg('icon-green')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-13
						.icon-block
							.icon-w
								+svg('icon-tray')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-14
						.icon-block
							.icon-w
								+svg('icon-playground')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-15
						.icon-block
							.icon-w
								+svg('icon-chatting')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-16
						.icon-block
							.icon-w
								+svg('icon-beauty')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-17.icon-right
						.icon-block
							.icon-w
								+svg('icon-chatting')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-18.icon-right
						.icon-block
							.icon-w
								+svg('icon-tray')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-19.icon-right
						.icon-block
							.icon-w
								+svg('icon-playground')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-20.icon-right
						.icon-block
							.icon-w
								+svg('icon-market')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-21.icon-right
						.icon-block
							.icon-w
								+svg('icon-shuttlebus')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg
					.icon-wrapper.icon-wrapper-22.icon-right
						.icon-block
							.icon-w
								+svg('icon-carsharing')
							span.icon-descr(data-text="Кафе и рестораны")
						.icon-leg