.l-wrapper{
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}


.fp-tableCell {
	text-align: center;
}

.l-container {
	// border: 1px solid red;
	max-width: 1320px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	@media (max-width: 575px) {
		padding: 0 10px;
	}
}


button:focus, button:hover {
	outline: none;
}

.d-none {
	display: none;
}

.arrowed-link {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 1;
	text-decoration: none;
	color: $white;
	&:hover {
		@media (min-width: 768px) {
			.icon {
				transform: translateX(3px);
			}
		}
	}
	span {
		margin-right: 1rem;
	}
	.icon {
		font-size: 1.6rem;
		transition: transform .3s ease;
		transform: none;
	}
}

@media (max-width: 575px) {

}
// Средние девайсы («таблетки», >= 768px)
@media (max-width: 767px) {

}
// Большие девайсы (десктопы, >= 992px)
@media (max-width: 991px) {

}
@media (max-width: 1199px) {

}

