.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
		fill: currentColor;
	&-logo {
		width: 5.53191489em;
		color: $white;
	}
	&-header-decor {
		width: 1.85714285714em;
	}
	&-arrow {
		width: 2.5625em;
	}
	&-awward {
		width: 0.97046413502em;
	}
	&-header-decor-mob {
		width: 2em;
	}
	&-presintation {
		width: 0.83333333333em;
	}
	&-navigate {
		width: 1em;
	}
	&-zoom {
		width: 1em;
	}
	&-download {
		width: 0.91em;
	}
	&-bicycle {
		width: 1.48175182482em;
	}
	&-carsharing {
		width: 1.15384615385em;
	}
	&-chatting {
		width: 1.1125em;
	}
	&-events {
		width: 0.88834951456em;
	}
	&-green {
		width: 0.87864077669em;
	}
	&-market {
		width: 1.06951871658em;
	}
	&-parking {
		width: 0.78974358974em;
	}
	&-powerlift {
		width: 0.85922330097em;
	}
	&-shuttlebus {
		width: 0.91747572815em;
	}
	&-sport {
		width: 0.85922330097em;
	}
	&-playground {
		width: 0.98058252427em;
	}
	&-tray {
		width: 1.39102564103em;
	}
	&-cursor-mobile {
		width: 1.29022082019em;
	}
	&-about-decor {
		width: 1em;
	}
	&-close {
		width: 1.031446540880503em;
	}
	&-share {
		width: 0.87561224489em;
	}
	&-twitter {
		width: 1.25em;
	}
	&-fb {
		width: 0.5256916996em;
	}
	&-vk {
		width: 1.6936416185em;
	}
}
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */