.section-location {
	background: #19153D;
	padding: 7rem 0 0 0;
	@media (max-width: 991px) {
		padding: 7rem 0 2rem 0;
	}
	&__inner {
		display: flex;
		@media (max-width: 1199px) {
			flex-direction: column;
		}
	}
	&__info {
		max-width: 330px;
		padding-right: 30px;
		flex-shrink: 0;
		pointer-events: none;
		@media (max-width: 1199px) {
			max-width: 100%;
		}
		@media (max-width: 991px) {
			overflow: hidden;
			overflow-x: auto;
			pointer-events: unset;
		}
	}
	&__time {
		padding-top: 40px;
		min-width: 450px;
		@media (max-width: 991px) {
			padding: 20px 0;
			width: 100%;
		}
		ul {
			@media (max-width: 1199px) {
				display: flex;
				justify-content: space-between;
			}
		}
		li {
			display: flex;
			flex-direction: column;
			&:not(:last-child){
				margin-bottom: 15px;
				@media (max-width: 1199px) {
					margin-bottom: 0;
				}
			}
			.title {
				font-size: 2.5rem;
				line-height: 3.3rem;
				color: #FFFFFF;
			}
			.subtitle {
				margin-top: 7px;
				font-size: 1.3rem;
				line-height: 100%;
				color: #FFFFFF;
				opacity: 0.8;
			}
		}
	}
	&__place {
		padding-top: 40px;
		padding-bottom: 40px;
		position: relative;
		@media (max-width: 991px) {
			display: none;
		}
		ul {
			@media (max-width: 1199px) {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
		li {
			display: flex;
			@media (max-width: 1199px) {
				align-items: center;
			}
			&:not(:last-child){
				margin-bottom: 40px;
				@media (max-width: 1199px) {
					margin-bottom: 0;
				}
			}
			span {
				font-size: 2rem;
				line-height: 2.6rem;
				display: flex;
				align-items: center;
				color: #FFFFFF;
			}
			.icon {
				font-size: 4rem;
				margin-right: 20px;
				flex-shrink: 0;
			}
		}
		&-line {
			position: absolute;
			width: 100%;
			height: 1px;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #fff;
		}
	}
	&__map {
		width: 1040px;
		position: relative;
		@media (max-width: 1199px) {
			width: 100%;
		}
		#map {
			height: 690px;
			@media (max-width: 991px) {
				height: calc(100vh - 165px);
			}
		}
	}
	&__hover {
		display: flex;
		flex-direction: column;
		padding-top: 20px;
		@media (max-width: 1199px) {
			display: none;
		}
		&-desc {
			margin-bottom: 20px;
			span {
				font-size: 1.4rem;
				line-height: 1.8rem;
				color: #FFFFFF;
				opacity: 0.5;
			}
		}
		&-ico {
			position: relative;
			background: #5446FF;
			border: 2px solid #FFFFFF;
			box-shadow: 0px 2px 4px rgba(25, 21, 61, 0.5);
			border-radius: 15px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 119px;
			height: 30px;
			padding: 0 10px;
			&:before {
				content: '';
				position: absolute;
				left: 25px;
				top: 100%;
				width: 2px;
				height: 40px;
				background-color: #fff;
			}
			span {
				font-size: 1.6rem;
				line-height: 2.1rem;
				color: #FFFFFF;
			}
			.icon-market{
				font-size: 1.8rem;
				color: #fff;
			}
			.icon-cursor-loc {
				position: absolute;
				right: -15px;
				bottom: -15px;
				font-size: 3rem;
			}
		}
	}
	.hover-mob {
		position: absolute;
		bottom: 0;
		z-index: 9999999;
		border-top: 1px solid #FFFFFF;
		background: rgba(1, 14, 47, 1);
		height: 110px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		padding: 10px;
		display: none;
		@media (max-width: 1199px) {
			padding-bottom: 40px;
			display: flex;
		}
		@media (max-width: 991px) {
			height: 150px;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 110px;
			background: linear-gradient(180deg, rgba(78, 127, 255, 0.7) 0%, rgba(1, 14, 47, 0.7) 100%);
			@media (max-width: 991px) {
				height: 150px;
			}
		}
		.section-location__hover-desc , .section-location__hover-ico {
			position: relative;
			z-index: 50;
		}
		.section-location__hover-desc span {
			opacity: 1;
		}
		.section-location__hover-ico .icon-cursor-mobile {
			position: absolute;
			right: -55px;
			bottom: -30px;
			font-size: 4rem;
		}
	}
}

ymaps[class*="-ground-pane"] {
	filter: invert(1);
}

ymaps[class*="-graphics-SVG"] {
	path{
		stroke: #FF0000;
		
	}
	ellipse {
		fill: transparent;
	}
}


ymaps[class*="-routerRoutes-pane"] svg  {
	path{
		stroke: #5446FF;
		
	}
}


ymaps[class*="-route-pin_size_small"]{
	display: none !important;
}



ymaps[class*="-balloon__layout"]{
	padding: 5px;
	height: 25px;
	width: auto;
	min-width: 70px;
	
	text-align: center;
	vertical-align: middle;
	background: #5446FF;
	border: 2px solid #FFFFFF;
	border-radius: 15px;
	box-shadow: 0px 2px 4px rgba(25, 21, 61, 0.5);
	z-index: 9999;
}


ymaps[class*="-balloon__close"]{
	position: absolute;
    right: 0;
		z-index: 9999999;
		height: 100%;
		width: 100%;
		cursor: pointer;
}
ymaps[class*="-balloon__close-button"]{
	height: 25px;
	width: 25px;
	background: none;
}

ymaps[class*="-balloon__content"]{
	background: transparent;
	padding: 0;
	margin-right: 0 !important;
	cursor: pointer;
}

ymaps[class*="-balloon__content"] b{
	font-size: 11px;
	line-height: 11px;
	color: #fff;
}



