mixin section-location(data)
	.section-location__wrapper
		.l-container
			.section-location__inner
				.section-location__info
					.section-location__time
						ul.h-reset-list
							li
								span.title 30 минут
								span.subtitle из центра
							li
								span.title 25 минут
								span.subtitle от Сити на авто
							li
								span.title 10 минут
								span.subtitle от аэропорта Внуково
					.section-location__place
						ul.h-reset-list
							li
								+svg('icon-about-decor')
								span Шаговая доступность
									br
									| от метро «Саларьево
							li
								+svg('icon-about-decor')
								span Юго-Западный
									br
									| район Москвы
							li
								+svg('icon-about-decor')
								span Удобное движение
									br
									| по правилу противотока
						.section-location__place-line
					.section-location__hover
						.section-location__hover-desc
							span Тапайте на иконку для отображения подписи:
						.section-location__hover-ico
							+svg('icon-market')
							span Магазин
							+svg('icon-cursor-loc')
				.section-location__map
					#map.map
				.hover-mob
					.section-location__hover-desc
						span Перемещайтесь по экрану и тапайте на иконки:
					.section-location__hover-ico
						+svg('icon-market')
						span Магазин
						+svg('icon-cursor-mobile')