mixin section-plans(data)
	.l-container
		.plans__inner
			.plans__main
				.plans__main__top
					h3.plans__title Планировка
					.plans__arrows
						button.plans__arrow.arrow-prev(type="button")
							+svg('icon-arrow')
						span.plans__name_mobile
						button.plans__arrow.arrow-next(type="button")
							+svg('icon-arrow')
				.plans__main__inner
					.plans__info
						.plans__info__navigation
							button.plans__slider-nav.active(type="button", data-index="0")
								span План 1 этажа
							button.plans__slider-nav(type="button", data-index="1")
								span План стандартного этажа
							button.plans__slider-nav(type="button", data-index="2")
								span План 9 этажа с террасами
						.plans__info__area
							.plans__info__area__item.js-slider-descr.active(data-slide="0")
								p Н = 4,86 м
								p 2 000 кв.м - арендуемая площадь этажа
							.plans__info__area__item.js-slider-descr(data-slide="1")
								p Н = 2,1 м
								p 3 500 кв.м - арендуемая площадь 
							.plans__info__area__item.js-slider-descr(data-slide="2")
								p Н = 20,1 м
								p 5 000 кв.м - арендуемая площадь этажа
					.plans__slider
						.plans__slider__item
							.slider-item__inner
								img(src="s/images/useful/plan.png", alt="plan")
						.plans__slider__item
							.slider-item__inner
								img(src="s/images/useful/plan2.jpg", alt="plan")
						.plans__slider__item
							.slider-item__inner
								img(src="s/images/useful/plan.png", alt="plan")
			.plans__details
				.plans__descr-section
					.plans__descr.js-slider-descr.active(data-slide="0")
						.plans__descr__item
							.item__circle(style="background-color: #848BEB")
							span.item__name Кафе
						.plans__descr__item
							.item__circle(style="background-color: #FFCE6D")
							span.item__name Ресторан
						.plans__descr__item
							.item__circle(style="background-color: #00AD73")
							span.item__name Банк
						.plans__descr__item
							.item__circle(style="background-color: #E75371")
							span.item__name Лифты
						.plans__descr__item
							.item__circle(style="background-color: #337FBA")
							span.item__name Мокрые точки
						.plans__descr__item
							.item__circle(style="background-color: #BFE3EC")
							span.item__name Переговорные
						.plans__descr__item
							.item__circle(style="background-color: #FBDDBE")
							span.item__name Сквозной холл
						.plans__descr__item
							.item__circle(style="background-color: #6C6C6C")
							span.item__name Тех. помещения
					.plans__descr.js-slider-descr(data-slide="1")
						.plans__descr__item
							.item__circle(style="background-color: #848BEB")
							span.item__name Кафе
						.plans__descr__item
							.item__circle(style="background-color: #FFCE6D")
							span.item__name Ресторан
						.plans__descr__item
							.item__circle(style="background-color: #00AD73")
							span.item__name Банк
					.plans__descr.js-slider-descr(data-slide="2")
						.plans__descr__item
							.item__circle(style="background-color: #337FBA")
							span.item__name Мокрые точки
						.plans__descr__item
							.item__circle(style="background-color: #BFE3EC")
							span.item__name Переговорные
						.plans__descr__item
							.item__circle(style="background-color: #FBDDBE")
							span.item__name Сквозной холл
						.plans__descr__item
							.item__circle(style="background-color: #6C6C6C")
							span.item__name Тех. помещения
				.plans__info__area
					.plans__info__area__item.js-slider-descr.active(data-slide="0")
						p Н = 4,86 м
						p 2 000 кв.м - арендуемая площадь этажа
					.plans__info__area__item.js-slider-descr(data-slide="1")
						p Н = 2,1 м
						p 3 500 кв.м - арендуемая площадь 
					.plans__info__area__item.js-slider-descr(data-slide="2")
						p Н = 20,1 м
						p 5 000 кв.м - арендуемая площадь этажа
				.plans__download
					a.download-link(href="s/images/useful/plan2.jpg", download="")
						.download-icon
							+svg('icon-download')
						.download-descr
							span.download-name Скачать планы этажей
							span.download-file .pdf (1.5 Mb)