.section-plans {
    background-color: #19153D;
    padding-top: 12.4rem;
    @media (max-width: 1199px) {
        padding-top: 11rem;
    }
    @media (max-width: 991px) {
        padding-top: 7rem;
        padding-bottom: 2rem;
    }
    .l-container {
        @media (max-width: 991px) {
            padding: 0 1rem 0 0;
        }
    }
}
.plans {
    &__inner {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: 991px) {
            flex-wrap: wrap;
        }
    }
    // main side
    &__main {
        width: calc(100% - 26rem);
        padding-top: 6px;
        padding-right: 4rem;
        @media (max-width: 1199px) {
            padding-right: 2rem;
            width: calc(100% - 23rem);
        }
        @media (max-width: 991px) {
            width: 100%;
            padding-right: 0;
        }
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 991px) {
                flex-wrap: wrap;
                padding: 0 0 0 1rem;
            }
        }
        &__inner {
            display: flex;
            justify-content: flex-start;
            @media (max-width: 991px) {
                margin-bottom: 2.5rem;
            }
        }
    }
    &__title {
        font-size: 2.4rem;
        line-height: 1.3;
        color: $white;
        margin: 0 2rem 0 0;
        @media (max-width: 991px) {
            width: 100%;
            margin-bottom: 3rem;
            text-align: left;
            margin-right: 0;
        }
    }
    &__arrows {
        display: flex;
        align-items: center;
        @media (max-width: 991px) {
            width: 100%;
            margin-bottom: 3rem;
            justify-content: space-between;
        }
    }
    &__arrow {
        display: flex;
        align-items: center;
        width: 4rem;
        cursor: pointer;
        height: 1.4rem;
        transform: none;
        transition: transform .3s ease;
        @media (max-width: 991px) {
            width: auto;
        }
        &.arrow-prev {
            transform: rotate(180deg);
            &:hover {
                @media (min-width: 992px) {
                    transform: translateX(-3px) rotate(180deg);
                }
            }
        }
        &.arrow-next {
            margin-left: 4rem;
            @media (max-width: 991px) {
                margin-left: 0;
            }
            &:hover {
                @media (min-width: 992px) {
                    transform: translateX(3px);
                }
            }
        }
        .icon {
            color: $white;
            transform: translateZ(0);
            transform-origin: 0 0;
        }
    }
    &__name_mobile {
        color: $white;
        font-size: 1.6rem;
        line-height: 1.3;
        display: none;
        @media (max-width: 991px) {
            display: block;
            margin: 0 2rem;
        }
    }
    &__info {
        width: 30rem;
        flex-shrink: 0;
        margin-right: 4rem;
        padding-top: 5rem;
        @media (max-width: 1199px) {
            width: 22rem;
            margin-right: 5rem;
        }
        @media (max-width: 991px) {
            display: none;
        }
        &__navigation {
            text-align: left;
            min-height: 28.3rem;
            padding-bottom: 2rem;
            @media (max-width: 1199px) {
                min-height: 23rem;
            }
        }
        &__area {
            position: relative;
            padding-top: 3.1rem;
            @media (max-width: 991px) {
                padding: 2rem 0 2rem 1rem;
                border-top: 1px solid $white;
            }
            &:before {
                content: '';
                display: block;
                height: 1px;
                background-color: $white;
                position: absolute;
                top: 0;
                right: 0;
                width: 40vw;
                @media (max-width: 991px) {
                    display: none;
                }
            }
            p {
                text-align: left;
                margin: 0 0 2.1rem 0;
                color: $white;
                font-size: 1.6rem;
                line-height: 1.3;
                @media (max-width: 1199px) {
                    font-size: 1.5rem;
                    margin: 0 0 1.6rem 0;
                }
                @media (max-width: 991px) {
                    font-size: 1.6rem;
                }
            }
            &__item {
                display: none;
                &.active {
                    display: block;
                }
            }
        }
    }
    &__slider {
        width: calc(100% - 34rem);
        overflow: hidden;
        @media (max-width: 1199px) {
            width: calc(100% - 27rem);
        }
        @media (max-width: 991px) {
            width: calc(100% - 2rem);
            margin: 0 auto;
        }
        &__item {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            height: 52.3rem;
            outline: none;
            @media (max-width: 1199px) {
                height: 43rem;
            }
            @media (max-width: 991px) {
                height: auto;
            }
            .slider-item__inner {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
    &__slider-nav {
        cursor: pointer;
        position: relative;
        padding-left: 3rem;
        margin-bottom: 1.1rem;
        &:hover {
            @media (min-width: 992px) {
                span {
                    color: $white;
                }
            }
        }
        &.active {
            &:before {
                width: 6rem;
                @media (max-width: 1199px) {
                    width: 4rem;
                }
            }
            span {
                color: $white;
                transform: translateX(3.8rem);
                @media (max-width: 1199px) {
                    transform: translateX(2.4rem);
                }
            }
        }
        &:before {
            content: '';
            display: block;
            width: 2rem;
            height: 3px;
            background-color: $white;
            position: absolute;
            left: 0;
            top: 1.1rem;
            transition: width .3s ease-in-out;
            @media (max-width: 1199px) {
                height: 2px;
                top: 1rem;
            }
        }
        span {
            color: rgba(255,255,255,.5);
            transition: color .3s ease-in-out, transform .3s ease-in-out;
            font-size: 1.5rem;
            line-height: 1.3;
            font-weight: 700;
            text-align: left;
            display: block;
            transform: none;
            @media (max-width: 1199px) {
                font-size: 1.4rem;
            }
        }
    }

    // details
    &__details {
        border-left: 1px solid $white;
        min-height: calc(100vh - 12.4rem);
        width: 26rem;
        flex-shrink: 0;
        position: relative;
        @media (max-width: 1199px) {
            width: 23rem;
            min-height: calc(100vh - 11rem);
        }
        @media (max-width: 991px) {
            width: 100%;
            border-left: none;
            min-height: auto;
        }
        .plans__info__area {
            display: none;
            @media (max-width: 991px) {
                display: block;
            }
        }
    }
    &__descr {
        display: none;
        &.active {
            display: block;
            @media (max-width: 991px) {
                display: flex;
            }
        }
        &-section {
            padding: 8rem 0 2rem 4rem;
            min-height: 52rem;
            pointer-events: none;
            @media (max-width: 1199px) {
                padding: 5rem 0 2rem 2rem;
                min-height: 40rem;
            }
            @media (max-width: 991px) {
                min-height: auto;
                height: 5rem;
                display: flex;
                padding: 0 0 3rem 1rem;
                width: 100%;
                pointer-events: unset;
                overflow: hidden;
                overflow-x: auto;
            }
        }
        &__item {
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @media (max-width: 991px) {
                margin-bottom: 0;
                margin-right: 2rem;
                flex-shrink: 0;
            }
            span {
                @media (max-width: 991px) {
                    flex-shrink: 0;
                }
            }
        }
        .item__circle {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
            border-radius: 50%;
            flex-shrink: 0;
            @media (max-width: 1199px) {
                width: 1.8rem;
                height: 1.8rem;
            }
        }
        .item__name {
            color: $white;
            font-size: 1.8rem;
            line-height: 1;
            font-weight: 400;
            @media (max-width: 1199px) {
                font-size: 1.6rem;
            }
        }
    }
    &__download {
        padding: 3rem 0 3rem 3rem;
        border-top: 1px solid $white;
        @media (max-width: 1199px) {
            padding: 2rem 0 2rem 2rem;
        }
        .download {
            &-link {
                display: flex;
                align-items: center;
                text-decoration: none;
                &:hover {
                    @media (min-width: 992px) {
                        .download-icon {
                            color: rgba(255,255,255,.8);
                        }
                        .download-name {
                            color: rgba(255,255,255,.8);
                        }
                    }
                }
            }
            &-icon {
                margin-right: 1.2rem;
                color: $white;
                transition: color .3s ease;
                .icon-download {
                    font-size: 5rem;
                    @media (max-width: 1199px) {
                        font-size: 4.5rem;
                    }
                }
            }
            &-descr {
                text-align: left;
            }
            &-name {
                text-decoration: underline;
                color: $white;
                font-size: 1.6rem;
                line-height: 1.3;
                font-weight: 700;
                display: block;
                width: 100%;
                margin-bottom: 7px;
                transition: color .3s ease;
                @media (max-width: 1199px) {
                    font-size: 1.4rem;
                    margin-bottom: 5px;
                }
            }
            &-file {
                font-size: 1.4rem;
                line-height: 1.3;
                color: rgba(255,255,255,.5);
                display: block;
                width: 100%;
                @media (max-width: 1199px) {
                    font-size: 1.3rem;
                }
            }
        }
    }
}