mixin menu-component(data)
	.menu#myMenu
		.menu__container
			.menu__bg.visible(style="background-image: url('s/images/useful/1-slide.jpg')", id="bg-about")
			.menu__bg(style="background-image: url('s/images/useful/2-slide.jpg')", id="bg-infrastructure")
			.menu__bg(style="background-image: url('s/images/useful/menu/location.jpg')", id="bg-location")
			.menu__bg(style="background-image: url('s/images/useful/menu/characteristic.jpg')", id="bg-characteristic")
			.menu__bg(style="background-image: url('s/images/useful/menu/layout.jpg')", id="bg-layout")
			.menu__bg(style="background-image: url('s/images/useful/menu/gallery.jpg')", id="bg-gallery")
			.menu__bg(style="background-image: url('s/images/useful/menu/news.jpg')", id="bg-news")
			.menu__bg(style="background-image: url('s/images/useful/menu/contacts.jpg')", id="bg-contacts")
		.menu__wrapper
			.l-container
				.menu__inner
					ul.menu__list.h-reset-list
						li(data-menuanchor="about", data-image="bg-about")
							a(href="#about") 
								span О деловом квартале
						li(data-menuanchor="infrastructure", data-image="bg-infrastructure")
							a(href="#infrastructure") 
								span Инфраструктура
						li(data-menuanchor="location", data-image="bg-location")
							a(href="#location") 
								span Расположение
						//- li(data-image="bg-characteristic")
						//- 	a(href="#characteristic") 
						//- 		span Характеристика
						li(data-menuanchor="plans", data-image="bg-layout")
							a(href="#plans") 
								span Планировка
						li(data-menuanchor="gallery", data-image="bg-gallery")
							a(href="#gallery")
								span Галерея
						li(data-menuanchor="news", data-image="bg-news")
							a(href="#news") 
								span Новости
						li(data-menuanchor="contacts", data-image="bg-contacts")
							a(href="#contacts") 
								span Контакты
				.menu__footer
					.menu__lang
						ul.menu__lang__list.h-reset-list
							li
								a(href="javascript:void(0)") En
							li.current
								a(href="javascript:void(0)") Ru
					a.menu__contacts__link(href="tel:+84955805393") +8 (495) 580-53-93
					a.menu__contacts__link(href="mailto:info@neopolis.msk.ru") info@neopolis.msk.ru
					a.menu__contacts__link(href="facebook.com") facebook