.menu {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    // pointer-events: none;
    // transform: scale(0.7);
    // transform-origin: 50% 0;
    // transition: opacity .8s ease, transform .7s ease, visibility .7s step-end;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    background-image: linear-gradient(180deg, rgba(78, 127, 255, 1) 0%, rgba(1, 14, 47, 1) 100%);
    &.active {
        // pointer-events: all;
        // visibility: visible;
        // transform: none;
        // opacity: 1;
        // transition: transform .7s ease, visibility 0s step-start,-webkit-transform .7s ease;
        // .menu__list a {
        //     transform: none;
        // }
    }
    &__container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-size: cover;
        background-position: center;
        opacity: 0;
        transform: scale(1.2);
        transition: opacity 1.2s ease,transform 1.2s ease,visibility 1.2s step-end,-webkit-transform 1.2s ease;
        visibility: hidden;
        &.active, &.visible {
            opacity: 1;
            transform: scale(1);
            transition: opacity 1.2s ease, transform 1.2s ease, visibility 0s step-start, -webkit-transform 1.2s ease;
            visibility: visible;
        }
    }
    &__wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-image: linear-gradient(180deg, rgba(78, 127, 255, 0.7) 0%, rgba(1, 14, 47, 0.7) 100%);
            z-index: 0;
        }
        .l-container {
            height: 100%;
            @media (max-width: 767px) {
                padding: 0;
            }
        }
    }
    &__inner {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 12rem);
        padding-top: 10rem;
        z-index: 1;
        @media (max-width: 1199px) {
            padding-top: 7rem;
        }
        @media (max-width: 767px) {
            height: calc(100% - 9rem);
            padding: 6rem 5.5rem 0 5.5rem;
            justify-content: flex-start;
        }
    }
    &__list {
        li {
            padding: 1.3rem 0;
            position: relative;
            @media (max-width: 1199px) {
                padding: 1rem 0;
            }
            @media (max-width: 767px) {
                padding: 7px 0;
            }
            &.active {
                a {
                    color: $white;
                    &:before {
                        width: 6rem;
                        @media (max-width: 1199px) {
                            width: 5rem;
                        }
                        @media (max-width: 767px) {
                            width: 3.5rem;
                        }
                    }
                    span {
                        transform: translateX(4rem);
                        @media (max-width: 1199px) {
                            transform: translateX(3rem);
                        }
                        @media (max-width: 767px) {
                            transform: translateX(1.5rem);
                        }
                    }
                }
            }
            &.visible {
                @media (min-width: 768px) {
                    a {
                        color: $white;
                    }
                }
            }
        }
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            color: rgba($white, 0.5);
            font-weight: 700;
            font-size: 3.6rem;
            line-height: 1.3;
            transition: color .6s ease-in-out;
            position: relative;
            transform: none;
            @media (max-width: 1199px) {
                font-size: 3rem;
            }
            @media (max-width: 991px) {
                font-size: 2.6rem;
            }
            @media (max-width: 767px) {
                font-size: 2.2rem;
                line-height: 1.1;
            }
            span {
                transition: transform .4s ease-in-out;
            }
            &:before {
                content: '';
                display: block;
                width: 0;
                height: 3px;
                background-color: #fff;
                position: absolute;
                top: 1.9rem;
                left: 0;
                transform: translateX(-4rem);
                transition: width .4s ease-in-out;
                @media (max-width: 767px) {
                    height: 2px;
                    top: 1.4rem;
                }
            }
        }
    }
    &__footer {
        width: 100%;
        z-index: 1;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 767px) {
            border-top: 1px solid $white;
            padding: 2rem 1rem 1rem 1rem;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    &__lang {
        margin-left: 4rem;
        @media (max-width: 991px) {
            margin-left: 0;
        }
        @media (max-width: 767px) {
            margin-bottom: 1.5rem;
            margin-right: 2rem;
        }
        &__list {
            @media (max-width: 991px) {
                display: flex;
                align-items: center;
            }
        }
        li {
            margin-bottom: 1.9rem;
            @media (max-width: 991px) {
                margin: 0 7px;
            }
            &.current {
                a {
                    color: $white;
                    transform: translateX(4rem);
                    @media (max-width: 1199px) {
                        transform: translateX(2rem);
                    }
                    @media (max-width: 991px) {
                        transform: none;
                    }
                    &:before {
                        width: 6rem;
                        opacity: 1;
                        @media (max-width: 1199px) {
                            width: 4.3rem;
                        }
                        @media (max-width: 991px) {
                            width: 3rem;
                            margin-right: 1.4rem;
                        }
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            font-size: 2.4rem;
            line-height: 1;
            text-decoration: none;
            color: rgba(255,255,255,.5);
            transition: color .3s ease, transform .3s ease;
            position: relative;
            display: block;
            transform: none;
            @media (max-width: 1199px) {
                font-size: 2rem;
            }
            @media (max-width: 991px) {
                font-size: 1.8rem;
                display: flex;
                align-items: center;
            }
            @media (max-width: 767px) {
                font-size: 1.6rem;
            }
            &:hover {
                @media (min-width: 768px) {
                    color: darken($white, 5%);
                }
            }
            &:before {
                content: '';
                display: block;
                width: 0;
                height: 3px;
                background-color: #fff;
                position: absolute;
                top: 1rem;
                left: 0;
                transform: translateX(-8.1rem);
                transition: width .4s ease-in-out, opacity .4s ease-in-out;
                opacity: 0;
                @media (max-width: 1199px) {
                    transform: translateX(-6rem);
                }
                @media (max-width: 991px) {
                    transform: none;
                    position: relative;
                    left: auto;
                    top: auto;
                }
            }
        }
    }
    &__contacts {
        &__link {
            font-size: 2rem;
            line-height: 1;
            color: $white;
            transition: color .3s ease;
            margin-right: 3rem;
            text-decoration: none;
            @media (max-width: 991px) {
                font-size: 1.8rem;
                margin-right: 2rem;
            }
            @media (max-width: 767px) {
                font-size: 1.6rem;
                margin-bottom: 1.5rem;
            }
            &:hover {
                @media (min-width: 768px) {
                    color: darken($white, 15%);
                }
            }
            &:first-of-type {
                margin-left: auto;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}