//-----------   INCLUDES   --------------

//- helpers
include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/menu-component/menu-component
include _includes/components/section-news/section-news
include _includes/components/section-gallery/section-gallery
include _includes/components/section-plans/section-plans
include _includes/components/section-infrastructure/section-infrastructure
include _includes/components/section-about/section-about
include _includes/components/section-location/section-location
include _includes/components/section-specifications/section-specifications
include _includes/components/loader/loader

//-----------   INCLUDES END  --------------

doctype html
html(lang='en')
	+loader()
	block head
		+head({'title':'NEOPOLIS'})
	body
		.l-wrapper
			+header({class: ''})
			+menu-component()
			main
				#fullpage.fullpage
					.section.section-slider
						.slide.slide--main
							.slide-image.h-object-fit
								img(src="s/images/useful/1-slide.jpg", alt="")
							.slide-inner
								.l-container
									.slide-content
										.slide-content__left
											.slide-content__desc
												.slide-content__title
													h1(data-aos="zoom-in-up" data-aos-duration="500") Деловой квартал
												.slide-content__subtitle
													span(data-aos="zoom-in-up" data-aos-duration="750") Актуальный дизайн, функциональность, эргономичность и экологичность – все элементы современного офиса
												.slide-content__link
													a(href="" data-aos="zoom-in-up" data-aos-duration="1000") Подробнее
														+svg('icon-arrow')
											.slide-content__awward
												svg.icon-awward#icon-awward1( width='230', height='237', viewBox='0 0 230 237', fill='none', xmlns='http://www.w3.org/2000/svg')
													path(d='M69.8589 227.178C66.7711 235.199 63.6951 243.232 60.5955 251.254C58.2175 257.417 53.9112 262.102 47.8065 264.823C41.9267 267.45 34.4852 268.609 28.0967 267.532C12.7759 264.942 0.282754 249.006 3.51253 233.306C4.31701 229.379 6.25724 225.593 7.66509 221.831C8.87182 218.613 10.0904 215.383 11.2971 212.165C14.7043 203.115 18.0997 194.064 21.507 185.014C25.7778 173.656 30.0369 162.311 34.3078 150.953C38.9217 138.697 43.5238 126.44 48.1378 114.195C52.5506 102.447 56.9635 90.7114 61.3763 78.9635C65.3278 68.4579 69.4685 57.7748 73.3608 47.1509C77.0756 37.0001 79.8085 25.9976 85.8185 16.8762C86.5402 15.7878 87.3091 14.7348 88.1373 13.7292C96.9748 3.10528 112.023 0.194939 125.049 3.01064C132.419 4.59595 138.915 8.80766 143.706 14.581C148.971 20.9341 151.1 28.4111 153.963 35.9709C155.584 40.2417 157.205 44.5126 158.814 48.7835C163.014 59.8688 167.213 70.9542 171.413 82.0395C176.323 95.0059 181.233 107.96 186.143 120.927C191.076 133.952 196.009 146.978 200.943 160.004C205.214 171.266 209.484 182.541 213.755 193.804C216.666 201.506 219.588 209.195 222.498 216.897C223.397 219.275 224.379 221.63 225.196 224.031C229.194 235.661 229.194 248.237 220.783 257.961C214.702 265.001 205.308 268.869 196.033 268.337C186.32 267.781 176.56 262.386 171.922 253.643C171.496 252.851 171.129 252.022 170.81 251.183L161.937 226.965C161.961 226.953 69.8589 227.178 69.8589 227.178ZM115.904 100.649L89.5215 172.982H142.31L115.904 100.649Z', stroke='white', stroke-width='4', stroke-miterlimit='10', fill='transparent', data-delay="100")
												span.slide-content__awward-desc Лучший бизнес центр класса А по версии CRE Awards 2018
												.slide-content__awward-img
													picture
														source(media='(max-height: 759px)', srcset='s/images/useful/awwards-h.png')
														source(media='(max-width: 767px)', srcset='s/images/useful/awwards-xx.png')
														source(media='(max-width: 1199px)', srcset='s/images/useful/awwards-xx.png')
														img(src='s/images/useful/awwards.png', alt='')
											.slide-vertical-line
										.slide-content__right
											.slide-content__contacts
												.slide-content__contacts-inner
													a(href="") +8 (495) 580-53-93
													a(href="") info@neopolis.msk.ru
													a(href="") facebook
						.slide
							.slide-image.h-object-fit
								img(src="s/images/useful/2-slide.jpg", alt="")
							.slide-inner
								.l-container
									.slide-content
										.slide-content__left
											.slide-content__desc
												.slide-content__title
													h1(data-aos="zoom-in-up" data-aos-duration="500") Инженерные решения
												.slide-content__link
													a(href="" data-aos="zoom-in-up" data-aos-duration="1000") Подробнее
														+svg('icon-arrow')
											.slide-content__awward
												svg.icon-awward#icon-awward2( width='230', height='237', viewBox='0 0 230 237', fill='none', xmlns='http://www.w3.org/2000/svg')
													path(d='M69.8589 227.178C66.7711 235.199 63.6951 243.232 60.5955 251.254C58.2175 257.417 53.9112 262.102 47.8065 264.823C41.9267 267.45 34.4852 268.609 28.0967 267.532C12.7759 264.942 0.282754 249.006 3.51253 233.306C4.31701 229.379 6.25724 225.593 7.66509 221.831C8.87182 218.613 10.0904 215.383 11.2971 212.165C14.7043 203.115 18.0997 194.064 21.507 185.014C25.7778 173.656 30.0369 162.311 34.3078 150.953C38.9217 138.697 43.5238 126.44 48.1378 114.195C52.5506 102.447 56.9635 90.7114 61.3763 78.9635C65.3278 68.4579 69.4685 57.7748 73.3608 47.1509C77.0756 37.0001 79.8085 25.9976 85.8185 16.8762C86.5402 15.7878 87.3091 14.7348 88.1373 13.7292C96.9748 3.10528 112.023 0.194939 125.049 3.01064C132.419 4.59595 138.915 8.80766 143.706 14.581C148.971 20.9341 151.1 28.4111 153.963 35.9709C155.584 40.2417 157.205 44.5126 158.814 48.7835C163.014 59.8688 167.213 70.9542 171.413 82.0395C176.323 95.0059 181.233 107.96 186.143 120.927C191.076 133.952 196.009 146.978 200.943 160.004C205.214 171.266 209.484 182.541 213.755 193.804C216.666 201.506 219.588 209.195 222.498 216.897C223.397 219.275 224.379 221.63 225.196 224.031C229.194 235.661 229.194 248.237 220.783 257.961C214.702 265.001 205.308 268.869 196.033 268.337C186.32 267.781 176.56 262.386 171.922 253.643C171.496 252.851 171.129 252.022 170.81 251.183L161.937 226.965C161.961 226.953 69.8589 227.178 69.8589 227.178ZM115.904 100.649L89.5215 172.982H142.31L115.904 100.649Z', stroke='white', stroke-width='4', stroke-miterlimit='10', fill='transparent', data-delay="100")
												span.slide-content__awward-desc Лучший бизнес центр класса А по версии CRE Awards 2018
												.slide-content__awward-img
													picture
														source(media='(max-height: 759px)', srcset='s/images/useful/awwards-h.png')
														source(media='(max-width: 767px)', srcset='s/images/useful/awwards-xx.png')
														source(media='(max-width: 1199px)', srcset='s/images/useful/awwards-xx.png')
														img(src='s/images/useful/awwards.png', alt='')
											.slide-vertical-line
										.slide-content__right
											.slide-content__contacts
												.slide-content__contacts-inner
													a(href="") +8 (495) 580-53-93
													a(href="") info@neopolis.msk.ru
													a(href="") facebook
						.slide
							.slide-image.h-object-fit
								img(src="s/images/useful/3-slide.jpg", alt="")
							.slide-inner
								.l-container
									.slide-content
										.slide-content__left
											.slide-content__desc
												.slide-content__title
													h1(data-aos="zoom-in-up" data-aos-duration="500") Развитая инфраструктура
												.slide-content__subtitle
													span(data-aos="zoom-in-up" data-aos-duration="750") Образ будущего, где работа и жизнь тесно переплетены
												.slide-content__link
													a(href="" data-aos="zoom-in-up" data-aos-duration="1000") Подробнее
														+svg('icon-arrow')
											.slide-content__awward
												svg.icon-awward#icon-awward3( width='230', height='237', viewBox='0 0 230 237', fill='none', xmlns='http://www.w3.org/2000/svg')
													path(d='M69.8589 227.178C66.7711 235.199 63.6951 243.232 60.5955 251.254C58.2175 257.417 53.9112 262.102 47.8065 264.823C41.9267 267.45 34.4852 268.609 28.0967 267.532C12.7759 264.942 0.282754 249.006 3.51253 233.306C4.31701 229.379 6.25724 225.593 7.66509 221.831C8.87182 218.613 10.0904 215.383 11.2971 212.165C14.7043 203.115 18.0997 194.064 21.507 185.014C25.7778 173.656 30.0369 162.311 34.3078 150.953C38.9217 138.697 43.5238 126.44 48.1378 114.195C52.5506 102.447 56.9635 90.7114 61.3763 78.9635C65.3278 68.4579 69.4685 57.7748 73.3608 47.1509C77.0756 37.0001 79.8085 25.9976 85.8185 16.8762C86.5402 15.7878 87.3091 14.7348 88.1373 13.7292C96.9748 3.10528 112.023 0.194939 125.049 3.01064C132.419 4.59595 138.915 8.80766 143.706 14.581C148.971 20.9341 151.1 28.4111 153.963 35.9709C155.584 40.2417 157.205 44.5126 158.814 48.7835C163.014 59.8688 167.213 70.9542 171.413 82.0395C176.323 95.0059 181.233 107.96 186.143 120.927C191.076 133.952 196.009 146.978 200.943 160.004C205.214 171.266 209.484 182.541 213.755 193.804C216.666 201.506 219.588 209.195 222.498 216.897C223.397 219.275 224.379 221.63 225.196 224.031C229.194 235.661 229.194 248.237 220.783 257.961C214.702 265.001 205.308 268.869 196.033 268.337C186.32 267.781 176.56 262.386 171.922 253.643C171.496 252.851 171.129 252.022 170.81 251.183L161.937 226.965C161.961 226.953 69.8589 227.178 69.8589 227.178ZM115.904 100.649L89.5215 172.982H142.31L115.904 100.649Z', stroke='white', stroke-width='4', stroke-miterlimit='10', fill='transparent', data-delay="100")
												span.slide-content__awward-desc Лучший бизнес центр класса А по версии CRE Awards 2018
												.slide-content__awward-img
													picture
														source(media='(max-height: 759px)', srcset='s/images/useful/awwards-h.png')
														source(media='(max-width: 767px)', srcset='s/images/useful/awwards-xx.png')
														source(media='(max-width: 1199px)', srcset='s/images/useful/awwards-xx.png')
														img(src='s/images/useful/awwards.png', alt='')
											.slide-vertical-line
										.slide-content__right
											.slide-content__contacts
												.slide-content__contacts-inner
													a(href="") +8 (495) 580-53-93
													a(href="") info@neopolis.msk.ru
													a(href="") facebook
						.slide
							.slide-image.h-object-fit
								img(src="s/images/useful/4-slide.jpg", alt="")
							.slide-inner
								.l-container
									.slide-content
										.slide-content__left
											.slide-content__desc
												.slide-content__title
													h1(data-aos="zoom-in-up" data-aos-duration="500") Удобное расположение
												.slide-content__subtitle
													span(data-aos="zoom-in-up" data-aos-duration="750") Доступность расположения и транспортной развязки
												.slide-content__link
													a(href="" data-aos="zoom-in-up" data-aos-duration="1000") Подробнее
														+svg('icon-arrow')
											.slide-content__awward
												svg.icon-awward#icon-awward4( width='230', height='237', viewBox='0 0 230 237', fill='none', xmlns='http://www.w3.org/2000/svg')
													path(d='M69.8589 227.178C66.7711 235.199 63.6951 243.232 60.5955 251.254C58.2175 257.417 53.9112 262.102 47.8065 264.823C41.9267 267.45 34.4852 268.609 28.0967 267.532C12.7759 264.942 0.282754 249.006 3.51253 233.306C4.31701 229.379 6.25724 225.593 7.66509 221.831C8.87182 218.613 10.0904 215.383 11.2971 212.165C14.7043 203.115 18.0997 194.064 21.507 185.014C25.7778 173.656 30.0369 162.311 34.3078 150.953C38.9217 138.697 43.5238 126.44 48.1378 114.195C52.5506 102.447 56.9635 90.7114 61.3763 78.9635C65.3278 68.4579 69.4685 57.7748 73.3608 47.1509C77.0756 37.0001 79.8085 25.9976 85.8185 16.8762C86.5402 15.7878 87.3091 14.7348 88.1373 13.7292C96.9748 3.10528 112.023 0.194939 125.049 3.01064C132.419 4.59595 138.915 8.80766 143.706 14.581C148.971 20.9341 151.1 28.4111 153.963 35.9709C155.584 40.2417 157.205 44.5126 158.814 48.7835C163.014 59.8688 167.213 70.9542 171.413 82.0395C176.323 95.0059 181.233 107.96 186.143 120.927C191.076 133.952 196.009 146.978 200.943 160.004C205.214 171.266 209.484 182.541 213.755 193.804C216.666 201.506 219.588 209.195 222.498 216.897C223.397 219.275 224.379 221.63 225.196 224.031C229.194 235.661 229.194 248.237 220.783 257.961C214.702 265.001 205.308 268.869 196.033 268.337C186.32 267.781 176.56 262.386 171.922 253.643C171.496 252.851 171.129 252.022 170.81 251.183L161.937 226.965C161.961 226.953 69.8589 227.178 69.8589 227.178ZM115.904 100.649L89.5215 172.982H142.31L115.904 100.649Z', stroke='white', stroke-width='4', stroke-miterlimit='10', fill='transparent', data-delay="100")
												span.slide-content__awward-desc Лучший бизнес центр класса А по версии CRE Awards 2018
												.slide-content__awward-img
													picture
														source(media='(max-height: 759px)', srcset='s/images/useful/awwards-h.png')
														source(media='(max-width: 767px)', srcset='s/images/useful/awwards-xx.png')
														source(media='(max-width: 1199px)', srcset='s/images/useful/awwards-xx.png')
														img(src='s/images/useful/awwards.png', alt='')
											.slide-vertical-line
										.slide-content__right
											.slide-content__contacts
												.slide-content__contacts-inner
													a(href="") +8 (495) 580-53-93
													a(href="") info@neopolis.msk.ru
													a(href="") facebook
					.section.section-about#section-about
						+section-about()
					.section.section-infrastructure
						+section-infrastructure()
					.section.section-location
						+section-location()
					.section.section-specifications
						+section-specifications()
					.section.section-plans
						+section-plans()
					.section.section-gallery
						+section-gallery()
					.section.section-news
						+section-news()
					.section.section-contacts
						.l-container
							.section-contacts__inner
								.slide-content__contacts
									.slide-content__contacts-inner
										a(href="tel:") +8 (495) 580-53-93
										a(href="mailto:") info@neopolis.msk.ru
										a(href="facebook.com") facebook
								.section-contacts__actions
									.section-contacts__presentation
										.section-contacts__presentation-img
											+svg("icon-presentation")
										.section-contacts__presentation-desc
											a(href="#") Скачать презентацию
											span .pdf (1.5 Mb)
									.section-contacts__navigation
										.section-contacts__navigation-img
											+svg("icon-navigate")
										.section-contacts__navigation-desc
											a(href="#") Проложить маршрут
											span Используя Яндекс.Карты
		script(src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.4/gsap.min.js")
		script(src="http://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js")
		script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js')
		script(src="https://api-maps.yandex.ru/2.1/?apikey=44f25dbe-cfb6-4337-b9d1-5f6d61a6f006&lang=ru_RU")

		script(src=route.js + "main.js")