include _includes/helpers/paths
include _includes/helpers/_mixins

//- components
include _includes/components/head/head
include _includes/components/header/header
include _includes/components/menu-component/menu-component
include _includes/components/news-content-component/news-content-component

doctype html
html(lang='en')
	block head
		+head({'title':'NEOPOLIS NEWS CONTENT'})
	body
		.l-wrapper
			+header({class: 'filled'})
			+menu-component()
			main
				+news-content-component()
		
		script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.4/gsap.min.js")
		script(src=route.js + "main.js")