.section-specifications {
	padding-top: 7rem;
	background-image: url(../images/useful/spec.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	&__inner {
		padding-top: 9rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: calc(100vh - 7rem);
		@media (max-width: 1199px) {
			height: auto;
		}
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		pointer-events: none;
		@media (max-width: 1199px) {
			flex-direction: column;
			justify-content: flex-start;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		width: 33%;
		margin-bottom: 80px;
		@media (max-width: 1199px) {
			width: 100%;
			margin-bottom: 30px;
		}
		.icon-about-decor {
			font-size: 4rem;
			color: #fff;
			margin-right: 20px;
			flex-shrink: 0;
			@media (max-width: 576px) {
				font-size: 3rem;
			}
		}
		span {
			font-size: 2rem;
			line-height: 2.6rem;
			color: #fff;
			@media (max-width: 576px) {
				font-size: 1.5rem;
				line-height: 1.9rem;
			}
		}
		&--wide {
			width: 100%;
		}
	}
	&__downloads {
		border-top: 1px solid #fff;
		@media (max-width: 1199px) {
			border-top: 0;
		}
		&-items {
			display: flex;
			width: 100%;
			@media (max-width: 1199px) {
				flex-direction: column;
			}
		}
		.plans__download {
			border-top: none;
			
		}
		&-item {
			width: auto;
			display: flex;
			justify-content: flex-start;
			border-right: 1px solid #fff;
			padding: 30px 40px;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: -15px;
				right: 0;
				display: flex;
				background: #fff;
				height: 1px;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease;
				@media (max-width: 1199px) {
					opacity: 1;
					visibility: visible;
				}
			}
			@media (max-width: 1199px) {
				width: 100%;
				border-right: none;
				border: none;
				padding-left: 0;
			}
			.plans__download {
				padding: 0;
			}
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				border-right: 0;
				padding-right: 0;
			}
		}
	}
}