mixin section-specifications(data)
		.section-specifications__inner
			.l-container
				.section-specifications__items
					.section-specifications__item.section-specifications__item--wide
						+svg('icon-about-decor')
						span 9 Мвт электроснабжения (Расчетная нагрузка 70 Вт на 1 кв.м без учета вентиляции и кондиционирования)
					.section-specifications__item
						+svg('icon-about-decor')
						span Архитектор проекта Дэвид Роден (London)
					.section-specifications__item
						+svg('icon-about-decor')
						span BMS – интеллектуальная система управления зданием
					.section-specifications__item
						+svg('icon-about-decor')
						span Ландшафтный дизайн LDA Design (London)
					.section-specifications__item
						+svg('icon-about-decor')
						span Лифты Kone
					.section-specifications__item
						+svg('icon-about-decor')
						span Система контроля доступа
					.section-specifications__item
						+svg('icon-about-decor')
						span Видеонаблюдение
					.section-specifications__item
						+svg('icon-about-decor')
						span 4-х трубная система кондиционирования воздуха
					.section-specifications__item
						+svg('icon-about-decor')
						span Расчетный расход воздуха 60 куб.м/час*чел)
					.section-specifications__item
						+svg('icon-about-decor')
						span Приточно-вытяжная вентиляция
			.section-specifications__downloads
				.l-container
					.section-specifications__downloads-items
						.section-specifications__downloads-item
							.plans__download
								a.download-link(href="s/images/useful/plan2.jpg", download="")
									.download-icon
										+svg('icon-download')
									.download-descr
										span.download-name Скачать презентацию
										span.download-file .pdf (1.5 Mb)
						.section-specifications__downloads-item
							.plans__download
								a.download-link(href="s/images/useful/plan2.jpg", download="")
									.download-icon
										+svg('icon-download')
									.download-descr
										span.download-name Генеральный план
										span.download-file .pdf (1.5 Mb)
						.section-specifications__downloads-item
							.plans__download
								a.download-link(href="s/images/useful/plan2.jpg", download="")
									.download-icon
										+svg('icon-download')
									.download-descr
										span.download-name Скачать ГПЗУ
										span.download-file .pdf (1.5 Mb)
						.section-specifications__downloads-item
							.plans__download
								a.download-link(href="s/images/useful/plan2.jpg", download="")
									.download-icon
										+svg('icon-download')
									.download-descr
										span.download-name Скачать тест-фит
										span.download-file .pdf (1.5 Mb)
						.section-specifications__downloads-item
							.plans__download
								a.download-link(href="s/images/useful/plan2.jpg", download="")
									.download-icon
										+svg('icon-download')
									.download-descr
										span.download-name Стандарт отделки
										span.download-file .pdf (1.5 Mb)