.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 101;
	background-color: transparent;
	&.filled {
		transition: background-color .3s ease 1.5s;
		background-color: #19153D;
	}
	&.transparent {
		background-color: transparent;
		transition: background-color 0s ease;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 6.4rem;
		@media (max-width: 767px) {
			height: 7rem;
		}
	}
	&__logo {
		margin-bottom: 5px;
		text-decoration: none;
		a {
			display: flex;
			align-items: center;
			.icon-logo {
				font-size: 20px;
			}
			.icon-header-decor-mob {
				color: $white;
				display: none;
				font-size: 2rem;
				margin-left: 7px;
				@media (max-width: 767px) {
					display: block;
				}
			}
		}
	}
	&__menu {
		margin-bottom: 1rem;
		@media (max-width: 767px) {
			margin-bottom: 0;
		}
		&__trigger {
			&.opened {
				.header__menu-txt {
					&:before {
						transform: translateY(-2rem);
						opacity: 0;
					}
					&:after {
						transform: translateY(0);
						opacity: 1;
					}
				}
				.header__menu-burger {
					&:first-child {
						&:after {
							transform: rotateZ(-135deg) scaleX(1) translate(4px, 4px);
						}
						&:before {
							transform: rotateZ(135deg) scaleX(1) translate(4px, -4px);
						}
					}
					&:last-child {
						&:after {
							transform: rotateZ(135deg) scaleX(1) translate(-4px, 4px);
						}
						&:before {
							transform: rotateZ(-135deg) scaleX(1) translate(-4px, -4px);
						}
					}
				}
			}
		}
		
		.js-menu {
			display: flex;
			align-content: space-around;
			align-items: center;
			justify-content: space-between;
			cursor: pointer;
		}
		&-burger {
			position: relative;
			width: 30px;
			height: 13px;
			&:before {
				transition: transform .5s ease;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: $white;
				content: "";
				top: 0;
				left: 0;
			}
			&:after {
				transition: transform .5s ease;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: $white;
				content: "";
				left: 0;
				bottom: 0;
			}
			&:last-child {
				@media (max-width: 767px) {
					display: none;
				}
			}
		}
		&-txt {
			padding: 0 2rem;
			font-size: 1.5rem;
			line-height: 1;
			color: $white;
			width: 10rem;
			height: 2.1rem;
			display: flex;
			align-items: center;
			position: relative;
			overflow: hidden;
			@media (max-width: 767px) {
				padding: 0;
				justify-content: center;
				width: 6rem;
				margin-left: 8px;
			}
			&:before, &:after {
				width: 6rem;
				display: block;
				text-align: center;
				position: absolute;
				transition: transform .3s ease, opacity .3s ease;
				@media (max-width: 767px) {
					width: auto;
				}
			}
			&:before {
				content: attr(data-open-text);
				transform: translateY(0);
				opacity: 1;
			}
			&:after {
				content: attr(data-close-text);
				transform: translateY(2rem);
				opacity: 0;
			}
		}
	}
	&__decor {
		@media (max-width: 767px) {
			display: none;
		}
		.icon-header-decor {
			font-size: 6.4rem;
			@media (max-width: 1199px) {
				font-size: 5.4rem;
			}
		}
	}
}