mixin header(data)
	header.header(class='' + data.class ? data.class : null)
		.l-container
			.header__inner
				.header__logo
					a(href="#firstBlock", data-menuanchor="firstBlock")
						+svg('icon-logo')
						+svg('icon-header-decor-mob')
				.header__menu
					button(type="button").header__menu__trigger.js-menu
						span.header__menu-burger
						span.header__menu-txt(data-close-text="Скрыть" data-open-text="Меню")
						span.header__menu-burger
				.header__decor
					+svg('icon-header-decor')