.news-content {
    margin-top: 6.4rem;
    @media (max-width: 767px) {
        margin-top: 7rem;
    }
    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__main-side {
        width: calc(100% - 29.2rem);
        position: relative;
        padding-bottom: 7rem;
        @media (max-width: 991px) {
            width: 100%;
        }
    }
    &__top-image {
        width: 100%;
        height: 53rem;
        position: absolute;
        left: 0;
        top: 0;
        @media (max-width: 1199px) {
            height: 48rem;
        }
        @media (max-width: 991px) {
            height: 43rem;
        }
    }
    &__inner {
        padding: 13rem 4rem 0 4rem;
        position: relative;
        z-index: 1;
        @media (max-width: 1199px) {
            padding: 10rem 4rem 0 4rem; 
        }
        @media (max-width: 991px) {
            padding: 8rem 3rem 0 3rem; 
        }
        @media (max-width: 767px) {
            padding: 7rem 1rem 0 1rem; 
        }
    }
    &__aside {
        border-left: 1px solid $white;
        width: 29.2rem;
        flex-shrink: 0;
        padding-bottom: 6rem;
        position: relative;
        @media (max-width: 991px) {
            display: none;
        }
        &__inner {
            // width: 100%;
        }
        .aside__news-block {
            padding: 1.9rem 1rem 1.4rem 1rem;
            border-bottom: 1px solid $white;
            display: flex;
            flex-wrap: wrap;
            height: auto;
            width: 100%;
            text-decoration: none;
            &:hover {
                @media (min-width: 992px) {
                    .aside__news-block__arrow {
                        transform: translateX(3px);
                    }
                    .aside__news-block__text {
                        text-decoration: underline;
                    }
                }
            }
            &__top {
                display: flex;
                align-items: center;
                width: 100%;
                margin-bottom: 1.7rem;
            }
            &__date {
                width: 3.5rem;
                color: $white;
                flex-shrink: 0;
                height: 100%;
                padding-top: 6px;
                span {
                    display: block;
                    width: 100%;
                }
            }
            &__day {
                font-size: 1.6rem;
                line-height: 1;
                font-weight: 700;
                margin-bottom: 1rem;
            }
            &__month {
                margin-bottom: 2px;
            }
            &__month, &__year {
                font-size: 1.1rem;
                line-height: 1;
            }
            &__image {
                flex-shrink: 0;
                position: relative;
                overflow: hidden;
                width: 5.4rem;
                height: 5.3rem;
            }
            &__arrow {
                margin-left: auto;
                transform: none;
                transition: transform .3s ease;
                .icon-arrow {
                    font-size: 1.5rem;
                }
            }
            &__info {
                width: 100%;
            }
            &__text {
                color: $white;
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 1.4;
                margin: 0;
            }
        }
    }
}
.content {
    &__top-info {
        margin-bottom: 4rem;
        @media (max-width: 767px) {
            margin-bottom: 3rem;
        }
    }
    &__date {
        margin-bottom: 1rem;
        color: $white;
        width: 100%;
        span {
            display: block;
        }
    }
    &__day {
        font-size: 3rem;
        line-height: 1.3;
        @media (max-width: 991px) {
            font-size: 2.6rem;
        }
    }
    &__month, &__year {
        font-size: 1.2rem;
        line-height: 1.3;
    }
    &__title {
        font-size: 4rem;
        line-height: 1.3;
        color: $white;
        position: relative;
        padding-bottom: 1rem;
        margin: 0 0 1.2rem 0;
        @media (max-width: 1199px) {
            font-size: 3.2rem;
        }
        @media (max-width: 991px) {
            font-size: 2.8rem;
        }
        @media (max-width: 767px) {
            font-size: 2.6rem;
        }
        &:before {
            content: '';
            display: block;
            width: calc(50% + 4rem);
            position: absolute;
            bottom: 0;
            left: -4rem;
            background-color: $white;
            height: 1px;
        }
    }
    &__crumbs {
        width: 100%;
        display: flex;
        align-items: center;
        color: $white;
        font-size: 1.4rem;
        line-height: 1;
        flex-wrap: wrap;
        span {
            display: inline-block;
            margin-right: 1.5rem;
            margin-bottom: 7px;
        }
    }
    &__text {
        margin: 0 0 3rem 0;
        font-size: 1.6rem;
        line-height: 1.75;
        letter-spacing: 0.01em;
        color: $white;
        @media (max-width: 991px) {
            font-size: 1.5rem;
        }
        @media (max-width: 767px) {
            font-size: 1.4rem;
            margin: 0 0 2rem 0;
            line-height: 1.5;
        }
    }
    &__photo {
        height: 44rem;
        width: 100%;
        @media (max-width: 1199px) {
            height: 37rem;
        }
        @media (max-width: 991px) {
            height: 32rem;
        }
        @media (max-width: 767px) {
            height: 20rem;
        }
        &-wrap {
            margin-bottom: 4rem;
            @media (max-width: 1199px) {
                margin-bottom: 3rem;
            }
            @media (max-width: 767px) {
                margin-bottom: 2rem;
            }
            .divider-line {
                position: relative;
                min-height: 4rem;
                @media (max-width: 767px) {
                    min-height: 3rem;
                }
                &:after {
                    content: '';
                    display: block;
                    width: 1px;
                    height: 100%;
                    background-color: $white;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
        &-action {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 4rem;
            padding: 0 2rem;
            border-top: 1px solid $white;
            @media (max-width: 991px) {
                padding: 0 1rem;
            }
            @media (max-width: 767px) {
                padding: 0;
                min-height: 3rem;
                flex-wrap: wrap;
            }
        }
        &__side {
            display: flex;
            min-height: 4rem;
            align-items: center;
            @media (max-width: 767px) {
                min-height: 3rem;
                margin-bottom: 1rem;
            }
            span {
                font-size: 1.4rem;
                line-height: 1.3;
                color: $white;
                @media (max-width: 991px) {
                    font-size: 1.3rem;
                }
            }
        }
        &__name {
            display: inline-flex;
            align-items: center;
            padding-right: 1.3rem;
            margin-right: 2.3rem;
            @media (max-width: 767px) {
                margin-right: 1.3rem;
            }
        }
        &__slider-counter {
            padding-right: 2rem;
            display: flex;
            align-items: center;
            span {
                font-size: 1.4rem;
                line-height: 1.3;
                color: $white;
            }
            .slider-counter__current {
                margin-right: 1rem;
            }
            .slider-counter__total {
                margin-left: 1rem;
                color: rgba(255,255,255,.5);
            }
        }
        &__arrows {
            display: flex;
            align-items: center;
        }
        &-prev, &-next {
            transition: transform .3s ease;
            display: flex;
            align-items: center;
            padding: 0 2rem;
            cursor: pointer;
            @media (max-width: 991px) {
                padding: 0 1.4rem;
            }
            .icon-arrow {
                font-size: 1.5rem;
                color: $white;
                flex-shrink: 0;
                transform: translateZ(0);
                transform-origin: 0 0;
                @media (max-width: 991px) {
                    font-size: 1.3rem;
                }
            }
        }
        &-prev {
            transform: rotate(180deg);
            &:hover {
                @media (min-width: 991px) {
                    transform: translateX(-3px) rotate(180deg);
                }
            }
        }
        &-next {
            transform: none;
            &:hover {
                @media (min-width: 991px) {
                    transform: translateX(-3px);
                }
            }
        }
    }
    &__slider {
        overflow: hidden;
        width: 100%;
        &__item {
            display: inline-block;
            vertical-align: top;
            width: 100%;
        }
    }
    &__person {
        &-wrap {
            width: 100%;
            margin-bottom: 6rem;
            margin-top: 4rem;
            @media (max-width: 991px) {
                margin-bottom: 4rem;
            }
        }
        &__main {
            padding: 0 7rem;
            margin-bottom: 4rem;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            @media (max-width: 991px) {
                padding: 0 3rem;
            }
            @media (max-width: 767px) {
                padding: 0;
                flex-wrap: wrap;
            }
        }
        &__photo {
            margin-right: 2rem;
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            position: relative;
            flex-shrink: 0;
            @media (max-width: 991px) {
                width: 7rem;
                height: 7rem;
            }
            @media (max-width: 767px) {
                margin: 0 auto 2rem auto;
            }
            &:after {
                content: '';
                display: block;
                width: 2.6rem;
                height: 2.3rem;
                position: absolute;
                right: 0;
                top: 0;
                background-image: url('../../s/images/useful/svg/quotes.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                @media (max-width: 991px) {
                    width: 2.3rem;
                    height: 2rem;
                }
            }
            &__inner {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        &__descr {
            width: 100%;
        }
        &__top {
            border-bottom: 1px solid $white;
            margin-bottom: 1.5rem;
            padding-bottom: 1.5rem;
            width: 100%;
            @media (max-width: 991px) {
                padding-bottom: 1.2rem;
                margin-bottom: 1.2rem;
            }
        }
        &__name {
            display: block;
            width: 100%;
            color: $white;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 1.3;
            @media (max-width: 991px) {
                font-size: 2rem;
            }
        }
        &__position {
            color: $white;
            display: block;
            width: 100%;
            font-size: 1.6rem;
            line-height: 1.3;
            @media (max-width: 991px) {
                font-size: 1.4rem;
            }
        }
        &__text {
            p {
                color: $white;
                margin: 0;
                font-size: 2rem;
                line-height: 1.4;
                @media (max-width: 991px) {
                    font-size: 1.7rem;
                }
            }
        }
        &__quote {
            padding-left: 2rem;
            border-left: 4px solid #5446FF;
            @media (max-width: 991px) {
                padding-left: 1.5rem;
                border-width: 3px;
            }
            p {
                margin: 0;
                font-weight: 700;
                color: $white;
                font-size: 2rem;
                line-height: 1.4;
                @media (max-width: 991px) {
                    font-size: 1.7rem;
                }
            }
        }
    }
    &__socials {
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &__item {
            margin: 0 2rem;
            color: $white;
            transition: color .3s ease, border-color .3s ease;
            width: 4rem;
            height: 4rem;
            border-radius: 5px;
            border: 1px solid $white;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 991px) {
                margin: 0 1.5rem;
                width: 3.6rem;
                height: 3.6rem;
            }
            @media (max-width: 767px) {
                margin: 0 1rem;
            }
            &:hover {
                @media (min-width: 992px) {
                    color: lighten(#19153D, 60%);
                    border-color: lighten(#19153D, 60%);
                }
            }
            .icon {
                &-share {
                    font-size: 2.4rem;
                    @media (max-width: 991px) {
                        font-size: 1.8rem;
                    }
                }
                &-fb {
                    font-size: 2.5rem;
                    @media (max-width: 991px) {
                        font-size: 1.9rem;
                    }
                }
                &-twitter {
                    font-size: 1.6rem;
                    @media (max-width: 991px) {
                        font-size: 1.3rem;
                    }
                }
                &-vk {
                    font-size: 1.7rem;
                    @media (max-width: 991px) {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
    &__read-next {
        width: 100%;
        height: 46rem;
        border-top: 6px solid $white;
        position: relative;
        padding: 4rem 4rem 1rem 4rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        @media (max-width: 1199px) {
            height: 35rem;
            padding: 3rem 3rem 1rem 3rem;
        }
        @media (max-width: 767px) {
            height: auto;
            padding: 3rem 1rem 1rem 1rem;
        }
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(180deg, rgba(25, 21, 61, 0) 0%, #19153D 88.54%);
        }
        .content__title {
            text-decoration: none;
            transition: color .3s ease;
            margin-bottom: 5rem;
            display: block;
            @media (max-width: 1199px) {
                margin-bottom: 3rem;
            }
            @media (max-width: 767px) {
                margin-bottom: 2rem;
            }
            &:hover {
                @media (min-width: 992px) {
                    color: rgba(255,255,255,.8);
                }
           }
            &:before {
                display: none;
            }
        }
        .content__date  {
            margin-bottom: 1rem;
        }
        &__image {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        &__inner {
            position: relative;
            z-index: 1;
        }
        &__link {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .read-next__link {
                display: flex;
                align-items: center;
                text-decoration: none;
                &:hover {
                     @media (min-width: 992px) {
                         .icon {
                             transform: translateX(3px);
                         }
                     }
                }
            }
            span {
                color: $white;
                font-size: 1.8rem;
                line-height: 1;
                margin-right: 1.4rem;
                @media (max-width: 767px) {
                    font-size: 1.5rem;
                }
            }
            .icon {
                font-size: 1.5rem;
                transform: none;
                transition: transform .3s ease;
                @media (max-width: 767px) {
                    font-size: 1.3rem;
                }
            }
        }
    }
}