mixin news-content-component(data)
	.news-content
		.l-container
			.news-content__wrapper
				.news-content__main-side
					.news-content__top-image.h-object-fit
						img(src="s/images/useful/news-content-top.jpg", alt="img")
					.news-content__inner
						.content__top-info
							.content__date
								span.content__day 18
								span.content__month дек
								span.content__year 2019
							h1.content__title Деловой квартал NEOPOLIS в тройке финалистов Премии «Рекорды рынка недвижимости»
							.content__crumbs
								span.content__time 17:20
								span.content__author Автор: Альбина Мазалова
								span.content__hash #премии
								span.content__hash #новостиквартала
						p.content__text Раньше эти люди решали судьбы Черноморских проливов и договаривались о сотрудничестве с целыми военными блоками. Эти люди разделяли целые регионы на сферы влияния и иногда даже шпионили. Теперь же их умений хватает лишь на угрозы, едва различимые матерные ругательства в прямом эфире, троллинг в Twitter и сарказм. Это только ухудшает репутацию Москвы на мировой арене, ничего не давая ей взамен.
						.content__photo-wrap
							.content__photo.h-object-fit
								img(src="s/images/useful/news-content1.jpg", alt="img")
							.content__photo-action
								.content__photo__side
									.content__photo__name.divider-line
										span Экоплощадка
									.content__photo__source
										span Источник фото: Евгений Паклюжин
						p.content__text Брифинги официального представителя МИД — достаточно скучные, но необходимые мероприятия. Их цель — донести до прессы график главы ведомства, сделать несколько заявлений и ответить на вопросы журналистов. Я сильно удивился, когда один из брифингов превратился в двухчасовой эмоциональный монолог Марии Захаровой по поводу дела Сергея Скрипаля. Большая часть речи официального представителя на эту тему была несодержательной: сотрудница МИД не рассказывала о рассматриваемых вариантах разрешения дипломатического кризиса с Великобританией, а, скорее, реагировала и давала оценки — последнее, чего ждут от министерства, занимающегося внешней политикой.
						.content__photo-wrap
							.content__slider
								.content__slider__item
									.content__photo.h-object-fit
										img(src="s/images/useful/news-content1.jpg", alt="img")
								.content__slider__item
									.content__photo.h-object-fit
										img(src="s/images/useful/news-content1.jpg", alt="img")
								.content__slider__item
									.content__photo.h-object-fit
										img(src="s/images/useful/news-content1.jpg", alt="img")
							.content__photo-action
								.content__photo__side
									.content__photo__name.divider-line
										span Экоплощадка
									.content__photo__source
										span Источник фото: Евгений Паклюжин
								.content__photo__side
									.content__photo__slider-counter.divider-line
										span.slider-counter__current
										span /
										span.slider-counter__total
									.content__photo__arrows
										button.content__photo-prev(type="button")
											+svg('icon-arrow')
										button.content__photo-next(type="button")
											+svg('icon-arrow')
						p.content__text Эпизод брифинга, в котором госпожа Захарова решила посоветовать «британским партнерам» почитать статью Карла Маркса и проводила исторические аналогии между событиями ранней викторианской эпохи и современности, вызвал у меня желание закрыть лицо рукой и устало вздохнуть. Примерно так же я реагировал, когда слышал от своих знакомых и друзей восторженные отзывы о деятельности отечественного МИДа. «Андрюх, ты слышал? Лавров журналистов назвал «дебилами, бл***». Это ж так круто!» Каждый раз, когда я узнавал о сообщениях посольства РФ в Великобритании, я вздрагивал.
						.content__person-wrap
							.content__person__main
								.content__person__photo
									.content__person__photo__inner.h-object-fit
										img(src="s/images/useful/ava.jpg", alt="ava")
								.content__person__descr
									.content__person__top
										span.content__person__name Сергей Кузнецов
										span.content__person__position главный архитектор города Москвы
									.content__person__text
										p «Этот квартал воплощение истинного здравого смысла и вдохновления творчеством средствами визуального и вербального слога!»
							.content__person__quote
								p Примерно так же я реагировал, когда слышал от своих знакомых и друзей восторженные отзывы о деятельности отечественного МИДа. «Андрюх, ты слышал? Лавров журналистов назвал «дебилами, бл***». Это ж так круто!»
						.content__socials
							a.content__socials__item(href="javascript:void(0)")
								+svg('icon-vk')
							a.content__socials__item(href="javascript:void(0)")
								+svg('icon-fb')
							a.content__socials__item(href="javascript:void(0)")
								+svg('icon-twitter')
							a.content__socials__item(href="javascript:void(0)")
								+svg('icon-share')
						.content__read-next
							.content__read-next__image.h-object-fit
								img(src="s/images/useful/news-content1.jpg", alt="img")
							.content__read-next__inner
								.content__date
									span.content__day 18
									span.content__month дек
									span.content__year 2019
								a(href="javascritp:void(0)").content__title Деловой квартал NEOPOLIS в тройке финалистов Премии «Рекорды рынка недвижимости»
								.content__read-next__link
									a.read-next__link(href="javascript:void(0)")
										span Читать далее
										+svg('icon-arrow')
								
				aside.news-content__aside
					.news-content__aside__inner
						a.aside__news-block(href="javascript:void(0)")
							.aside__news-block__top
								.aside__news-block__date
									span.aside__news-block__day 10
									span.aside__news-block__month дек
									span.aside__news-block__year 2019
								.aside__news-block__image.h-object-fit
									img(src="s/images/useful/news/news1.jpg", alt="news")
								.aside__news-block__arrow
									+svg('icon-arrow')
							.aside__news-block__info
								p.aside__news-block__text Деловой квартал Neopolis стал победителем престижной премии в области коммерческой недвижимости CRE Awards
						a.aside__news-block(href="javascript:void(0)")
							.aside__news-block__top
								.aside__news-block__date
									span.aside__news-block__day 10
									span.aside__news-block__month дек
									span.aside__news-block__year 2019
								.aside__news-block__image.h-object-fit
									img(src="s/images/useful/news/news2.jpg", alt="news")
								.aside__news-block__arrow
									+svg('icon-arrow')
							.aside__news-block__info
								p.aside__news-block__text Наличие релакс-зоны в бизнес-центре повышает его привлекательность
						a.aside__news-block(href="javascript:void(0)")
							.aside__news-block__top
								.aside__news-block__date
									span.aside__news-block__day 10
									span.aside__news-block__month дек
									span.aside__news-block__year 2019
								.aside__news-block__image.h-object-fit
									img(src="s/images/useful/news/news3.jpg", alt="news")
								.aside__news-block__arrow
									+svg('icon-arrow')
							.aside__news-block__info
								p.aside__news-block__text Деловой квартал Neopolis обеспечит Новой Москве 3,5 тысячи рабочих мест
						a.aside__news-block(href="javascript:void(0)")
							.aside__news-block__top
								.aside__news-block__date
									span.aside__news-block__day 10
									span.aside__news-block__month дек
									span.aside__news-block__year 2019
								.aside__news-block__image.h-object-fit
									img(src="s/images/useful/news/news4.jpg", alt="news")
								.aside__news-block__arrow
									+svg('icon-arrow')
							.aside__news-block__info
								p.aside__news-block__text Сотрудники поколения Y выбирают lifestyle-центры