
mixin head(data)
	- var project_mame = 'NEOPOLIS'
		unless (data)
			- var data = {}
	head
		// page name
		title=data.title
		// Required meta tags
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		// Optional styles
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css')
		link(href='s/css/all.css', rel='stylesheet')